<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자 프로필 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">판매자 관리</a></li>
                <li><a href="#">판매자 프로필 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info" >
            <div class="cBox-hd" >
                <h4 class="c-tit">판매자 프로필 상세</h4>
            </div>
            <!--/*@thymesVar id="spec" type=""*/-->
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">판매자명</th>
                                <td th:text="${profiles.name}"></td>
                            </tr>
                            <tr>
                                <th scope="row">유형</th>
                                <td th:text="${profiles.type}"></td>
                            </tr>
                            <tr>
                                <th scope="row">담당자명</th>
                                <td th:text="${profiles.manager}"></td>
                            </tr>
                            <tr>
                                <th scope="row">메일주소</th>
                                <td th:text="${profiles.email}"></td>
                            </tr>
                            <tr>
                                <th scope="row">홈페이지주소</th>
                                <td th:text="${profiles.siteUrl}"></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일</th>
                                <td th:text="${profiles.createdDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

<!--        <div class="cont_btnBox">-->
<!--            <button name="button" class="btn btn-color1 btn-md" type="button" onclick="moveProfilesUpdate()">수정</button>-->
<!--        </div>-->
    </div>
    <!-- //content -->

    <input type="hidden" id="id" name="id" th:value="${profiles.id}" />
    <script type="text/javascript">
        /*<![CDATA[*/
        // ON LOAD
        $(document).ready(function() {
            console.log('::adminSellerProfile-detail::');
        });

        var moveProfilesUpdate = function() {
            procMovePage("/softwares/page");
        }

        /*]]>*/
    </script>
</div>

<!--</div>-->
</html>
