<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자 관리</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">판매자 관리</a></li>
                <li class="active">판매자 프로필 수정</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
            <!-- cBox1 -->
            <div class="cBox type1 appCnt-info">
                <div class="cBox-hd">
                    <h4 class="c-tit">판매자 프로필 수정</h4>
                </div>
                <div class="cBox-cnt pt20">
                    <!-- inner -->
                    <div class="in pd0 d_block">
                        <!-- table top -->
                        <div class="tb-top">
                            <div class="pull-right">
                                <span class="point2"><i class="i_star">필수입력</i> 는 필수입력 사항입니다.</span>
                            </div>
                        </div>
                        <!-- //table top -->

                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">판매자명<i class="i_star">필수입력</i></th>
                                    <td th:text="${profiles.name}" id="profilesName"></td>
                                </tr>
                                <tr>
                                    <th scope="row">유형<i class="i_star">필수입력</i></th>
                                    <td>
                                    	<select th:field="*{profiles.type}" id="profilesTypes">
                                    		<option value="">선택</option>
                                            <option th:each="type : ${types}"
                                                    th:value="${type}"
                                                    th:text="${type}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">담당자명</th>
                                    <td th:text="${profiles.manager}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">메일주소<i class="i_star">필수입력</i></th>
                                    <td th:text="${profiles.email}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">홈페이지주소</th>
                                    <td th:text="${profiles.siteUrl}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일</th>
                                    <td th:text="${#temporals.format(profiles.createdDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">상태</th>
                                    <td>
                                    	<!--getName : 승인/요청/반려 name : Approval/Request/Rejected-->
                                    	<div class="radio radio-inline" th:each="statusOne : ${status}">
                                        	<input name="profileStatus" th:id="'radio1-' + ${statusOne.getName()}" type="radio" th:value="${statusOne.name()}" th:checked="${statusOne.name().equalsIgnoreCase(profiles.status)}">
                                        	<label class="label" th:for="'radio1-' + ${statusOne.getName()}" th:text="${statusOne.getName()}"></label>
                                    	</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">반려사유</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <pre><input class="form-control" type="text" th:value="${profiles.description}" id="profilesDescription"></pre>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">관리자 처리일</th>
                                    <td th:text="${#temporals.format(profiles.statusModifiedDate, 'yyyy-MM-dd')}" id="profileStatusModifiedDate"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                    </div>
                    <!-- //inner -->
                </div>
            </div>
            <!-- //cBox1 -->
        <div class="cont_btnBox">
            <div class="pull-right">
                <button name="button" class="btn btn-color1 btn-md" type="button" id="saveBtn">저장</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">판매자 프로필 수정</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    판매자 프로필을 수정하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="button" class="btn btn-color1"  onclick="modifyProfiles()">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Modal -->
            </div>
        </div>
    </div>
    <!-- //content -->

    <script type="text/javascript">

        /*<![CDATA[*/
        var profile = "[[${profiles}]]";
        var profileId = "[[${profiles.id}]]";
        var profileName = "[[${profiles.name}]]";
        var profilesManager= "[[${profiles.manager}]]";
        var profilesEmail= "[[${profiles.email}]]";
        var profilesSiteUrl= "[[${profiles.siteUrl}]]";

        $("#profilesTypes").change(function() {
            // Add action of select option
            console.log($("#profilesTypes option:selected").val());
        });

        function isEmpty(val) {
            return (val == null || val == "");
        };

        $('#saveBtn').click(function() {
            var manCheck = false;
            var msg = "";

            if(manCheck) {
                alert(msg);
                return;
            }

            if($('input:radio[name="profileStatus"]:checked').val() == 'Rejected') {
                if(!manCheck && isEmpty($("#profilesDescription").val())){
                    msg = "반려사유를 입력하십시오.";
                    alert(msg);
                    return;
                }
            }else{
                $("#profilesDescription").val("");
            }
            $('div #myModal_ok').modal();

        });

        var modifyProfiles = function() {
            modifyAdminProfiles(profileId);
        };

        var modifyAdminProfiles = function (profileId) {

          	//상태
            var profileStatus =  $('input:radio[name="profileStatus"]:checked').val();

            var profilesTypes = $("#profilesTypes option:selected").val();

            var profilesDescription = $("#profilesDescription").val();


            if($('input:radio[name="profileStatus"]:checked').val() == 'Rejected') {
                profilesDescription;
            }

            if(profilesDescription === null || profilesDescription === '') {
                profilesDescription = '';
            }

            var reqParam = {
                "id" : profileId,
                "name" : profileName,
                "type" : profilesTypes,
                "manager" : profilesManager,
                "email" : profilesEmail,
                "siteUrl" : profilesSiteUrl,
                "status" : profileStatus,
                "description" : profilesDescription
            }

            var reqUrl = "/admin/profiles/" + profileId;

            console.log(JSON.stringify(reqParam));
            console.log("REST_URL " + reqUrl);

            procCallAjax(reqUrl, "PUT", JSON.stringify(reqParam), null, callbackModifyProfiles);
        };

        var callbackModifyProfiles = function(data) {
            procMovePage("/admin/profiles/{id}".replace("{id}", profileId));
        };

     	// ON LOAD
        $(document).ready(function() {
            currentMenu('4');
        });

        /*]]>*/
    </script>
</div>
</html>
