<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">카테고리 등록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">카테고리 관리</a></li>
                <li><a href="#">카테고리 등록</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">카테고리 등록</h4>
            </div>
            <div class="cBox-cnt">
                <div class="appCategoryBox">
                    <div class="cate_right">
                        <h4 class="c-tit-in">카테고리 등록</h4>
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:20%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">카테고리 명</th>
                                    <td><input class="form-control" type="text" value="" id="categoryName"></td>
                                </tr>
                                <tr>
                                    <th scope="row">설명</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <textarea name="name" style="height:150px;" id="categoryDesc"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                        <div class="cont_btnBox">
                            <button name="button" class="btn btn-color1 btn-md" type="button" id="saveBtn">저장</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //cBox1 -->
    </div>
    <!-- //content -->
    <script type="text/javascript">
        $("#saveBtn").on("click", function () {
            createCategory();
        });

        var createCategory = function() {
            var categoryName = $("#categoryName").val();
            var categoryDesc = $("#categoryDesc").val();

            var reqUrl = "/admin/categories";
            var reqParam = {
                "name": categoryName,
                "description": categoryDesc
            };

            procCallAjax(reqUrl, "POST", JSON.stringify(reqParam), null, callbackCreateCategory);
        };

        var callbackCreateCategory = function(data) {
            procMovePage("/admin/categories");
        };
        
     	// ON LOAD
        $(document).ready(function () {
        	currentMenu('2');
        });
    </script>
</div>
</html>
