<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">카테고리 등록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">카테고리 관리</a></li>
                <li><a href="#">카테고리 등록</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">카테고리 등록</h4>
            </div>
            <div class="cBox-cnt">
                <div class="appCategoryBox">
                    <div class="cate_left">
                        <h4 class="c-tit-in">카테고리 선택</h4>

                        <div class="treeWrap">
                            <div class="tree-head">
                                <div class="bx_left ctl-tree">
                                    <a class="btn ico-collapse only-ico" href="?#"><span class="ico_dtl"></span>확장취소</a>
                                    <a class="btn ico-expend only-ico" href="?#"><span class="ico_dtl"></span>전체확장</a>
                                </div>
                                <div class="bx_right">
                                    <div class="bx_btn_area">
                                        <button name="button" title="등록" class="btn ico-regi only-ico" type="button"><span class="ico_dtl">등록</span></button>
                                        <button name="button" title="수정" class="btn ico-modi only-ico" type="button"><span class="ico_dtl">수정</span></button>
                                        <button name="button" title="삭제" class="btn ico-del only-ico" type="button"><span class="ico_dtl">삭제</span></button>
                                    </div>
                                    <div class="dropdown btn-option" style="display:none;">
                                        <button id="btn-option" type="button" class="btn only-ico ico-dot" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="실행 설정">
                                            <span class="ico">실행 설정</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="btn-optionn" aria-labelledby="btn-option">
                                            <li><a href="#">등록</a></li>
                                            <li><a href="#">수정</a></li>
                                            <li><a href="#">삭제</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tree-body">
                                <!-- 트리영역 -->
                                <div class="cate_treemenu">
                                    <div class="cate-title">
                                        <span class="ico_category"></span><a href="">Javascript</a>
                                    </div>
                                    <ul class="depth1 treeview-button">
                                        <li class="expandable">
                                            <div class="plus expandable-plus"></div>
                                            <div class="checkbox checkbox-only">
                                                <input type="checkbox" value="option1">
                                                <label></label>
                                            </div>
                                            <a href="">Javascript</a>
                                            <ul class="depth2">
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Basic</a>
                                                </li>
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Menu/Navigation</a>
                                                </li>
                                                <li class="last only-li">
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">ETC</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expandable">
                                            <div class="plus expandable-plus"></div>
                                            <div class="checkbox checkbox-only">
                                                <input type="checkbox" value="option1">
                                                <label></label>
                                            </div>
                                            <a href="">CSS/HTML</a>
                                            <ul class="depth2">
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Basic</a>
                                                </li>
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Menu/Navigation</a>
                                                </li>
                                                <li class="last only-li">
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">ETC</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="expandable">
                                            <div class="plus expandable-plus"></div>
                                            <div class="checkbox checkbox-only">
                                                <input type="checkbox" value="option1">
                                                <label></label>
                                            </div>
                                            <a href="">Flash</a>
                                            <ul class="depth2">
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Basic</a>
                                                </li>
                                                <li>
                                                    <div class="plus expandable-plus"></div>
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">Menu/Navigation</a>
                                                </li>
                                                <li class="last only-li">
                                                    <div class="checkbox checkbox-only">
                                                        <input type="checkbox" value="option1">
                                                        <label></label>
                                                    </div>
                                                    <a href="">ETC</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="last only-li">
                                            <div class="checkbox checkbox-only">
                                                <input type="checkbox" value="option1">
                                                <label></label>
                                            </div>
                                            <a href="">커뮤티니</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //트리영역 -->
                            </div>
                        </div>
                    </div>
                    <div class="cate_right">
                        <h4 class="c-tit-in">카테고리 등록</h4>
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:20%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">카테고리 명</th>
                                    <td><input class="form-control" type="text" value=""></td>
                                </tr>
                                <tr>
                                    <th scope="row">설명</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <textarea name="name" style="height:150px;"></textarea>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                        <div class="cont_btnBox">
                            <button name="button" class="btn btn-color1 btn-md" onclick="" type="button">저장</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //cBox1 -->
    </div>
    <!-- //content -->
</div>
</html>
