<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">카테고리</h2>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type2">
            <div class="cBox-hd">
                <h4 class="c-tit">카테고리 관리</h4>
            </div>
            <div class="cBox-cnt">
                <div class="category_Box" id="categoryListArea">
                    <ul id="categoryUl" th:if="${!categories.isEmpty()}">
                        <li th:each="category,index : ${categories}">
                            <div class="cateWrap">
                                <span th:text="${category.name}" th:onclick="'javascript:goCategoryDetail(\''+ ${category.id} +'\');'"></span>
                                <div class="pull-right">
                                    <div class="btn_seq">
                                        <button name="button" title="위로이동" class="btn ico-top only-ico" type="button" th:onclick="'javascript:moveUpItem(\''+ ${category.id} +'\');'" th:id="'btn_up_' + ${category.id}"><span class="ico_dtl">위로이동</span></button>
                                        <button name="button" title="아래로이동" class="btn ico-bottom only-ico" type="button" th:onclick="'javascript:moveDownItem(\''+ ${category.id} +'\');'" th:id="'btn_down_' + ${category.id}"><span class="ico_dtl">아래로이동</span></button>
                                    </div>
                                    <div class="btn_etc">
                                        <button name="button" title="수정" class="btn ico-modi  only-ico" type="button"><span class="ico_dtl" th:onclick="'javascript:updateCategoryBtn(\''+ ${category.id} +'\');'">수정</span></button>
                                        <button name="button" title="삭제" class="btn ico-del only-ico" type="button"><span class="ico_dtl" th:onclick="'javascript:deleteCategoryBtn(\''+ ${category.id} +'\');'">삭제</span></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="category_regi">
                        <a class="cate_add" th:href="@{/admin/categories/create}"><span>카테고리 추가</span></a>
                         <p th:if="${categories.isEmpty()}">현재 등록 된 카테고리가 없습니다. 카테고리를 추가하세요.</p> <!-- 등록 된 카테고리 없을경우 노출 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //content -->
    <input type="hidden" id="directionUp" name="directionUp" th:value="${directionUp}">
    <input type="hidden" id="directionDown" name="directionDown" th:value="${directionDown}">

    <script type="text/javascript">
        /*<![CDATA[*/
        // 위로 이동 버튼 BIND
        var moveUpItem = function(count) {
            var idStr = '#btn_up_' + count;
            var srcDiv = $(idStr).parent().parent().parent().parent();

            var tgtDiv = srcDiv.prev();

            if(tgtDiv[0]) {
                tgtDiv.before(srcDiv);
            }else {
                alert("최상위 버튼");
            }

            var reqUrl = "/admin/categories/" + count + "/" + $("#directionUp").val();
            procCallAjax(reqUrl, "PUT", null, null, callbackUpdatedSeqCategory);

        };


        // 아래로 이동 버튼 BIND
        var moveDownItem = function (count) {
            var idStr = '#btn_down_' + count;

            var srcDiv = $(idStr).parent().parent().parent().parent();
            var tgtDiv = srcDiv.next();

            if (tgtDiv[0]) {
                tgtDiv.after(srcDiv);
            }else {
                alert("최하위 버튼");
            }

            var reqUrl = "/admin/categories/" + count + "/" + $("#directionDown").val();
            procCallAjax(reqUrl, "PUT", null, null, callbackUpdatedSeqCategory);

        };

        // update sequence callback function
        var callbackUpdatedSeqCategory = function(data) {
            console.log("data :::" + JSON.stringify(data));
            procMovePage("/admin/categories");
        };



        // 카테고리 상세 조회
        var goCategoryDetail = function (id) {
            procMovePage("/admin/categories/" + id);
        };

        // update category page
        var updateCategoryBtn = function(id) {
            procMovePage("/admin/categories/" + id + "/modify");
        };


        // delete category
        var deleteCategoryBtn = function(id) {
            procCallAjax("/admin/categories/" + id, "DELETE", null, null, callbackDeleteCategory);
        };

        // delete category callback
        var callbackDeleteCategory = function(data) {
            procMovePage("/admin/categories");
        };


        // ON LOAD
        $(document.body).ready(function () {
            // TODO :: ul id 의 첫 번째 li 의 위로 버튼은 비활성화, 마지막 li 의 아래 버튼 비활성화.
        	currentMenu('2');
        });

        /*]]>*/
    </script>
</div>
</html>
