<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<!-- rignt Cnt -->
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">카테고리 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">카테고리 관리</a></li>
                <li><a href="#">카테고리 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">카테고리 상세</h4>
            </div>
            <div class="cBox-cnt">
                <div class="appCategoryBox">
                    <div class="cate_right">
                        <h4 class="c-tit-in">카테고리 상세</h4>
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:20%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">카테고리 명</th>
                                    <td th:text="${category.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">설명</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <pre th:text="${category.description}"></pre>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일</th>
                                    <td th:text="${#temporals.format(category.createdDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->
                        <div class="cont_btnBox">
                            <button name="button" class="btn btn-color1 btn-md" id="modifyCategory" type="button">수정</button>
                            <!--/* <button name="button" class="btn btn-color1 btn-md" id="deleteCategory" type="button" data-toggle="modal" data-target="#categoryDeleteConfirmModal">삭제</button> */-->
                            <button name="button" class="btn btn-color1 btn-md" id="deleteCategory" type="button" onclick="deleteCategoryConfirmBtn();">삭제</button>
                            <!-- Modal -->
                            <div class="modal fade" id="categoryDeleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">삭제 요청</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="only-text">
                                                카테고리를 삭제하시겠습니까?
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" name="button" class="btn btn-color1" id="goDeleteCategoryBtn">확인</button>
                                            <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //Modal -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //cBox1 -->
    </div>
    <!-- //content -->
    <input type="hidden" id="categoryId" th:value="${category.id}" />
    <script type="text/javascript">
        var categoryId = $("#categoryId").val();

        // ON LOAD
        $(document).ready(function () {
        	currentMenu('2');
        })

        $("#modifyCategory").on("click", function () {
           procMovePage("/admin/categories/" + categoryId + "/modify");
        });

/*         $("#confirmBtn").on("click", function () {
            procCallAjax("/admin/categories/" + categoryId, "DELETE", null, null, callbackDeleteCategory);
        });
 */
        var callbackDeleteCategory = function(data) {
            procMovePage("/admin/categories");
        };

        // deleteCategoryConfirmBtn
        var deleteCategoryConfirmBtn = function() {
        	procCallAjax("/admin/categories/softwareUsedCategory/"+ categoryId, "GET", null, null, callbackSoftwareUsedCategory);
        }

        // 카테고리 사용유무 검사
        var callbackSoftwareUsedCategory = function(data) {
        	if (data.resultCode == "Used") {
        		commonAlert.show("현재 사용중인 카테고리는 삭제할수 없습니다");
        		return;
        	}
        	$("#categoryDeleteConfirmModal").modal("show");
        }
        
        $("#goDeleteCategoryBtn").on("click", function(){
        	procCallAjax("/admin/categories/" + categoryId, "DELETE", null, null, callbackDeleteCategory);
        });

    </script>
</div>
<!-- rignt Cnt -->
</html>
