<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자 목록</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">판매자 관리</a></li>
                <li class="active">판매자 목록</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox">
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">등록일자</label></div>
                        <div class="fm_box w_auto">
                            <div class="dateWrap">
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                                <span class="wave">~</span>
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">판매자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4">(10)</span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:auto%;">
                    <col style="width:30%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">판매자명</th>
                    <th scope="col">ID</th>
                    <th scope="col">유형</th>
                    <th scope="col">담당자명</th>
                    <th scope="col">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98@email.com</td>
                    <td>기업</td>
                    <td>김길동</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>아이디에스앤트러스트</td>
                    <td>dj00@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>서현진</td>
                    <td>Segae11@email.com</td>
                    <td>개인</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>드림시큐리티</td>
                    <td>Smilekang_1@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>지피</td>
                    <td>mk_lee@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>씨앗</td>
                    <td>qwers@email.com</td>
                    <td>공공기관</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>최승리</td>
                    <td>asaf@email.com</td>
                    <td>개인</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>인튠</td>
                    <td>zxcv@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>드리머㈜</td>
                    <td>qazx@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>아이티</td>
                    <td>1wsxcd@email.com</td>
                    <td>기업</td>
                    <td>이길동</td>
                    <td>2019-02-05</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination">
                <li class="first disabled"><a href="#">맨 처음</a></li>
                <li class="prev"><a href="#">이전</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=" disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="next"><a href="#">다음</a></li>
                <li class="end"><a href="#">맨 끝</a></li>
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->

    <script type="text/javascript">
        console.log('::MarketPlace index Init::');
    </script>
</div>

<!--</div>-->
</html>
