<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 수정</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">등록 상품</a></li>
                <li class="active">상품 수정</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품 수정하기</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
<!--                                <i class="i_star">필수입력</i>-->
                                <th scope="row">상품명</th>
                                <td><input class="form-control" type="text" th:value="${software.name}" id="softwareName" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">카테고리<i class="i_star">필수입력</i></th>
                                <td>
                                    <select id="softwareCategory">
<!--                                        <option value="">전체</option>-->
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:utext="${category.name}"
                                                th:selected="${category.id} == ${software.category.id}">
                                        </option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row">간단설명</th>
                                <td><input class="form-control" style="height:50px;" type="text" th:value="${software.summary}" id="softwareSummary" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">아이콘</th>
                                <td>
                                    <!-- 첨부파일 -->
                                    <div class="fileUploadWrap selected_ico" style="width:50%;">
                                        <!--<input tabindex="-1" class="form-control" id="iconFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="iconFile" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="" onchange="getThumbnailPreview(this, $('#icon_image'))">-->
                                        <div class="bootstrap-filestyle input-group">
                                            <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                <label class="btn btn-default " id="icon_image">
                                                    <img class="logo" alt="" th:src="${software.iconPath}" /> <!--파일업로드 후 첨부한 이미지 넣는 영역-->
<!--                                                           <span class="ico ico_fileupload">파일찾기</span>-->
                                                </label>
                                            </span>
<!--                                            <div class="input-form-group">-->
<!--                                                <input name="userfile" disabled="" class="form-control" id="iconFile" type="text" placeholder="아이콘으로 등록할 이미지를 선택하세요.">-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                    <!-- //첨부파일 -->
                                </td>
                            <tr>
                                <th scope="row">스크린샷</th>
                                <td>
                                    <div class="screenShotBox">
                                        <div class="sshotWrap">
                                            <ul>
                                                <li name="li_in" id="li_in" th:each="screenshot : ${software.screenshotList}">
                                                    <div class="sshot_in">
                                                        <img th:src="${screenshot}" alt="" id="image_form_url"/>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상세설명</th>
                                <td>
                                    <div class="tbw_inner_txt">
                                        <pre><input class="form-control" type="text" th:value="${software.description}" id="softwareDescription" readonly></pre>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">파일유형</th>
                                <td><input class="form-control" type="text" th:value="${software.type}" id="softwareType" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">상품파일</th>
                                <td><input class="form-control" type="text" th:value="${software.app}" id="softwareApp" readonly></td>

                            </tr>
                            <tr>
                                <th scope="row">환경파일</th>
                                <td><input class="form-control" type="text" th:value="${software.manifest}" id="softwareManifest" readonly></td>
                            <tr>
                                <th scope="row">판매금액 적용월</th>
                                <td>
                                    <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                                        <!-- Form 날짜 -->
                                        <div class="form-group">
                                            <div class="form-group-area">
                                                <div class="fm_box w_auto pr10">
                                                    <select name="selectDateYear" id="selectDateYear" th:onchange="selectYear()"></select>
                                                </div>
                                                <div class="fm_box w_auto">
                                                    <select name="selectDateMonth" id="selectDateMonth" th:onchange="selectMonth()"></select>
                                                </div>
                                                <button type="button" name="searchBtn" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
                                            </div>
                                        </div>
                                        <!-- //Form 날짜 -->
                                        <!-- Form 이력보기 -->
                                        <div class="form-group" style="float:right">
                                            <div class="form-group-area">
                                                <button name="button" class="btn btn-color2 btn-md" type="button" data-toggle="modal" data-target="#myAmtModal" id="amtHistoryBtn">이력보기</button>
                                            </div>
                                        </div>
                                        <!-- Form 이력보기 -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">판매금액<i class="i_star">필수입력</i></th>
                                <td>
                                    <table id="pricePerMonth-table">
                                        <tr>
                                            <th scope="row">
                                                <input type="button" value="&nbsp; - &nbsp;" onclick="delRow();">
                                                &nbsp;플랜&nbsp;
                                                <input type="button" value="&nbsp; + &nbsp;" onclick="addRow();">
                                            </th>
                                            <th scope="row">설명</th>
                                            <th scope="row">CPU</th>
                                            <th scope="row">Memory</th>
                                            <th scope="row">Disk</th>
                                            <th scope="row">가격</th>
                                        </tr>
                                        <tbody id="pricePerMonth-tbody">
                                        <tr th:each="softwarePlan, stat : ${softwarePlanList}">
                                            <td>
                                                <input type="checkbox" th:name="checkRow"/><input type=hidden th:value="${softwarePlan.id}" th:id="'planid_'+ ${stat.index}" name="planid">&nbsp;<input type=text th:value="${softwarePlan.name}" th:id="'name_'+ ${stat.index}" name="planName" placeholder="Small">
                                            </td>
                                            <td><input class="form-control" type="text" th:value="${softwarePlan.description}" th:id="'description_'+ ${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].description'" placeholder="1CPU/256M/1G"></td>

                                            <td><input class="form-control" type="text" th:value="${softwarePlan.cpuAmt}" th:id="'cpuAmt_' +${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].cpu'" th:onkeyup="'amt('+${stat.index}+')'"></td>
                                            <td>
                                                <input class="form-control" type="text" th:value="${softwarePlan.memorySize}" th:id="'memorySize_'+ ${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].memorySize'" placeholder="256M"> &nbsp;<input class="form-control" type="text" th:value="${softwarePlan.memoryAmt}" th:id="'memoryAmt_' +${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].memoryAmt'" th:onkeyup="'amt('+${stat.index}+')'">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" th:value="${softwarePlan.diskSize}" th:id="'diskSize_'+ ${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].diskSize'" placeholder="1G">&nbsp;<input class="form-control" type="text" th:value="${softwarePlan.diskAmt}" th:id="'diskAmt_' +${stat.index}" th:name="'softwarePlanList['+${stat.index}+'].diskAmt'"  th:onkeyup="'amt('+${stat.index}+')'">
                                            </td>
                                            <td><input class="form-control" th:value="${#numbers.formatInteger(softwarePlan.memoryAmt + softwarePlan.diskAmt + softwarePlan.memoryAmt , 0, 'COMMA')}" th:id="'sumAmt_' +${stat.index}" name="sumAmt" readonly></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">전시여부</th>
                                <td>
                                    <div class="radio radio-inline" th:each="yn : ${yns}">
                                        <input name="softwareInUse" th:id="'radio1-' + ${yn}" type="radio" th:value="${yn}" th:checked="${software.inUse} == ${yn}">
                                        <label class="label" th:for="'radio1-' + ${yn}" th:text="${yn}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">버전</th>
                                <td><input class="form-control" style="width:100px;" type="text" th:value="${software.version}" id="softwareVersion" readonly></td>
                            </tr>
                            <tr>
                                <th scope="row">등록일자</th>
                                <td><input class="form-control" type="text" th:value="${#temporals.format(software.createdDate, 'yyyy-MM-dd')}" id="softwareCreatedDate" readonly></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->

                    <h4 class="c-tit-in">승인정보</h4>
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                           <tr>
                                <th scope="row">상태</th>
                                <td>
                                    <!--getName : 승인/대기/반려 name : Approval/Pending/Rejected-->
                                    <div class="radio radio-inline" th:each="statusOne : ${status}">
                                        <input name="softwareStatus" th:id="'radio1-' + ${statusOne.getName()}" type="radio" th:value="${statusOne.name()}" th:checked="${statusOne.name().equalsIgnoreCase(software.status)}">
                                        <label class="label" th:for="'radio1-' + ${statusOne.getName()}" th:text="${statusOne.getName()}"></label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">반려사유</th>
                                <td>
                                    <div class="tbw_inner_txt">
                                        <pre><input class="form-control" type="text" th:value="${software.confirmComment}" id="softwareConfirmComment"></pre>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">처리일자</th>
                                <td><input class="form-control" type="text" th:value="${#temporals.format(software.statusModifiedDate, 'yyyy-MM-dd')}" id="softwareStatusModifiedDate" readonly></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- amtModal -->
        <div class="modal fade" id="myAmtModal" tabindex="-1" role="dialog" aria-labelledby="myAmtModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myAmtModalLabel">판매금액 목록</h4>
                    </div>
                    <div class="modal-body">
                        <!-- table -->
                        <div class="tbl type1">
                            <td>
                                <table class="table" border="1">
                                    <tr>
                                        <th scope="row" rowspan="2">적용월</th>
                                        <th scope="row" col style="width:auto;" colspan="3">Plan</th>
                                        <th scope="row" col style="width:auto;" colspan="3">기준금액</th>
                                        <th scope="row" rowspan="2">판매금액</th>
                                    </tr>
                                    <tr style="width:auto;" align=center>
                                        <td >Name</td>
                                        <td >Memory</td>
                                        <td >Disk</td>
                                        <td >CPU</td>
                                        <td >Memory</td>
                                        <td >Disk</td>
                                    </tr>
                                    <tbody id="amtArea">
                                    <tr style="width:auto;" align=center>
                                    </tbody>
                                </table>
                            </td>
                        </div>
                        <!--//table -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- amtModal -->
        <!-- //cBox1 -->
        <div class="cont_btnBox">
            <div class="pull-right">
                <button name="button" class="btn btn-color1 btn-md" type="button" data-toggle="modal" data-target="#myModal_ok">저장</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal_ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-sm"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">상품 수정</h4>
                            </div>
                            <div class="modal-body">
                                <div class="only-text">
                                    상품을 수정하시겠습니까?
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="button" class="btn btn-color1"  th:onclick="'javascript:saveBtn(\''+${software.id} +'\');'">확인</button>
                                <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Modal -->
                <button name="button" class="btn btn-color7 btn-md" type="button" onclick="location.href='/admin/softwares/page'">목록</button>
            </div>
        </div>
    </div>
    <!-- //content -->
;
    <script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
        /*<![CDATA[*/

        var PAGING_SIZE = 10;
        var SORT = "id,asc";

        // ON LOAD
        $(document).ready(function() {
            console.log("admin-software-update init");
            currentMenu('1');

            selectCal('selectDateMonth', 'selectDateYear');
            nameIndex = $("#pricePerMonth-tbody tr").length;

            var softwarePlaneOriginalList = "";
            for (var idx=0; idx<nameIndex ;idx++) {
                if (idx == 0) {
                    softwarePlaneOriginalList += $("#planid_"+idx).val();
                } else {
                    softwarePlaneOriginalList += "^"+ $("#planid_"+idx).val();
                }
            }
            $("#softwarePlaneOriginalList").val(softwarePlaneOriginalList);
        });


        //saveBtn
        var saveBtn = function(id) {
            modifyAdminSoftware(id);
        };

        var modifyAdminSoftware = function (id) {
            //상품명
            var softwareName = $("#softwareName").val();
            //카테고리
            var softwareCategory = $("#softwareCategory option:selected").val();
            //간단설명
            var softwareSummary = $("#softwareSummary").val();
            //아이콘
            var iconFileInput = $("#iconFileInput").val();
            //스크린샷
            var screenshotFileInput = $("#screenshotFileInput").val();
            //상세설명
            var softwareDescription = $("#softwareDescription").val();
            //파일유형
            var softwareType = $("#softwareType").val();
            //상품파일
            var softwareApp = $("#softwareApp").val();
            //환경파일
            var softwareManifest  = $("#softwareManifest").val();
            //판매가격
            var pricePerMonth = $("#pricePerMonth").val();
            //전시여부
            var softwareInUse  = $('input:radio[name="softwareInUse"]:checked').val();
            //버전
            var softwareVersion = $("#softwareVersion").val();
            //상태
            var softwareStatus =  $('input:radio[name="softwareStatus"]:checked').val();
            //반려사유
            var softwareConfirmComment = $("#softwareConfirmComment").val();
            //등록일자
            var softwareCreatedDate = $("#softwareCreatedDate").val();
            //처리일자
            var softwareStatusModifiedDate = $("#softwareStatusModifiedDate").val();

            //TODO Rejected=>hidden
            if(softwareConfirmComment === null || softwareConfirmComment === '') {
                softwareConfirmComment = '';
            }

          	//수정이력
			var softwareHistoryDescription = "전시여부: " + softwareInUse + ", 승인상태: " + softwareStatus + ", 반려사유: " + softwareConfirmComment;
			console.log("변경이력>> " + softwareHistoryDescription);

            var reqParam = {
                "inUse" : softwareInUse,
                "category" : {
                    "id" : softwareCategory
                },
                "status" : softwareStatus,
                "confirmComment" : softwareConfirmComment,
                "historyDescription" : softwareHistoryDescription
            };

            var reqUrl = "/admin/softwares/" + id;

            console.log(JSON.stringify(reqParam));
            console.log("REST_URL " + reqUrl);

            procCallAjax(reqUrl, "PUT",JSON.stringify(reqParam), null, callbackModifyAdminSoftware);
        };

        var callbackModifyAdminSoftware = function (data) {
            console.log("modify data ::: " + JSON.stringify(data));

            procMovePage("/admin/softwares/{id}".replace("{id}", data.id));

        };


        //icon
        var getThumbnailPreview = function (html, $target) {
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $target.css('display', '');
                    $target.html('<img src="' + e.target.result + '" border="0" alt="" />');
                };
                reader.readAsDataURL(html.files[0]);
            }

        };

        //screenshot
        var getThumbnailPreviewScreenshot = function (html, $target) {
            if (html.files && html.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $target.css('display', '');
                    $target.html('<img class="btn btn-default" src="' + e.target.result + '" border="0" alt="" />');
                };
                reader.readAsDataURL(html.files[0]);
            }

        };

        //amtHistoryBtn
        $("#amtHistoryBtn").on("click", function () {
            var softwareId = "[[${software.id}]]";

            var reqUrl = "/admin/softwares/plan/" + softwareId + "/histories" + "?sort=lastModifiedDate,desc";
            procCallAjax(reqUrl, "GET", null, null, callbackGetSoftwarePlanHistoryList);
        });

        var callbackGetSoftwarePlanHistoryList = function (data) {
            var amtArea = $("#amtArea");
            var htmlString = [];

            console.log(data);

            if(data.length > 0){
                for(var i = 0; i < data.length; i++){
                    var totalAmt = data[i].cpuAmt+data[i].memoryAmt+data[i].diskAmt;

                    htmlString.push(
                        '<tr style="width:auto;" align=center>'
                        + '<td>'+data[i].applyMonth+'</td>'
                        + '<td>'+data[i].name+'</td>'
                        + '<td>'+data[i].memorySize+'</td>'
                        + '<td>'+data[i].diskSize+'</td>'
                        + '<td>'+data[i].cpuAmt+'</td>'
                        + '<td>'+data[i].memoryAmt+'</td>'
                        + '<td>'+data[i].diskAmt+'</td>'
                        + '<td>'+totalAmt+'</td>'
                        + '</tr>'
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='8'><p class='user_p'>판매금액 이력이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            amtArea.html(htmlString);
        };

        //[공통] 2019-00
        function fncDateValueDigit(value) {
            var result = value;
            if (value < 10) {
                result = '0' + value;
            }
            return result;
        }


        //searchBtn
        $("#searchBtn").on("click", function () {
            console.log("searchBtn Event");
            var softwareId = "[[${software.id}]]";
            var selectDateYear = $("#selectDateYear").val();
            var selectDateMonth = $("#selectDateMonth").val();
            var applyMonth = selectDateYear +  fncDateValueDigit(selectDateMonth);

            var url = encodeURI("/admin/softwares/plan/" + softwareId + "/applyMonth");
            procCallAjax(url+"?applyMonth="+ applyMonth, "GET", "", null, callbackRow);
        });


        var callbackRow  = function (data) {
            $('#pricePerMonth-tbody').html("");

            index = 1000;
            nameIndex = 0;

            if(data.length > 0){
                for(var i = 0; i < data.length; i++){
                    $('#pricePerMonth-tbody').append(
                        "<tr>"
                        +"	<td>"
                        +"		<input type='checkbox' id='checkRow' name='checkRow'><input type=hidden id='planid_"+index+"'name='softwarePlanList["+nameIndex+"].planid' value='"+data[i].index+"'>&nbsp;<input type='text' id='name_"+index+"' name='softwarePlanList["+nameIndex+"].name' value='"+data[i].name+"' placeholder='Small'>"
                        +"	</td>"
                        +"	<td><input class='form-control' type='text' name='softwarePlanList["+nameIndex+"].description' value='"+data[i].description+"' placeholder='1CPU/256M/1G'></td>"
                        +"	<td><input class='form-control' type='text' id='cpuAmt_"+index+"' name='softwarePlanList["+nameIndex+"].cpuAmt' value='"+data[i].cpuAmt+"' onkeyup='amt("+index +")'></td>"
                        +"	<td>"
                        +"		<input class='form-control' type='text' id='memorySize' name='softwarePlanList["+nameIndex+"].memorySize' value='"+data[i].memorySize+"' placeholder='256M'>"
                        +"		<input class='form-control' type='text' id='memoryAmt_"+index+"' name='softwarePlanList["+nameIndex+"].memoryAmt' value='"+data[i].memoryAmt+"' onkeyup='amt("+index+")'>"
                        +"	</td>"
                        +"	<td>"
                        +"		<input class='form-control' type='text' id='diskSize' name='softwarePlanList["+nameIndex+"].diskSize'value='"+data[i].diskSize+"' placeholder='1G'>"
                        +"		<input class='form-control' type='text' id='diskAmt_"+index+"' name='softwarePlanList["+nameIndex+"].diskAmt' value='"+data[i].diskAmt+"'onkeyup='amt("+index+")'>"
                        +"	</td>"
                        +"	<td>"
                        +"		<input class='form-control' type='text' id='sumAmt_"+index+"' name='sumAmt' readonly>"
                        +"		<input type='hidden' name='softwarePlanList["+nameIndex+"].applyMonth' value='"+data[i].applyMonth+"'>"
                        +"	</td>"
                        +"</tr>"
                    );

                    nameIndex++;
                }
            }
        };

        //[테이블] 가격
        function amt(id){
            $("#sumAmt_"+id).val(Number($("#cpuAmt_"+id).val())+ Number($("#memoryAmt_"+id).val())+ Number($("#diskAmt_"+id).val()));
        };


        //[테이블] 행 삭제
        function delRow(){
            var checkbox = $("input[name='checkRow']");
            var checkCount = checkbox.size();
            var swpId =  $("#planid").val();

            console.log(swpId);

            for (var i=0; i<checkCount; i++) {
                if (checkbox.eq(i).is(":checked")) {
                    checkbox.eq(i).parent().parent().remove();
                }
            }
        };

        //[테이블] 행 추가
        var index = 1000;
        var nameIndex = 0;
        function addRow() {
            index++;
            nameIndex++;
            console.log("[index]: "+index);

            var toDayValue = $('#applyMonth').val();

            document.getElementById("pricePerMonth-tbody").insertRow(-1).innerHTML =
                "<tr>"
                +"	<td>"
                +"		<input type='checkbox' id='checkRow' name='checkRow'><input type=hidden id='planid_"+index+"'name='softwarePlanList["+nameIndex+"].planid'>&nbsp;<input type='text' id='name_"+index+"' name='softwarePlanList["+nameIndex+"].name' placeholder='Small'>"
                +"	</td>"
                +"	<td><input class='form-control' type='text' name='softwarePlanList["+nameIndex+"].description' placeholder='1CPU/256M/1G'></td>"
                +"	<td><input class='form-control' type='text' id='cpuAmt_"+index+"' name='softwarePlanList["+nameIndex+"].cpuAmt' onkeyup='amt("+index +")'></td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='memorySize' name='softwarePlanList["+nameIndex+"].memorySize' placeholder='256M'>"
                +"		<input class='form-control' type='text' id='memoryAmt_"+index+"' name='softwarePlanList["+nameIndex+"].memoryAmt' onkeyup='amt("+index+")'>"
                +"	</td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='diskSize' name='softwarePlanList["+nameIndex+"].diskSize' placeholder='1G'>"
                +"		<input class='form-control' type='text' id='diskAmt_"+index+"' name='softwarePlanList["+nameIndex+"].diskAmt' onkeyup='amt("+index+")'>"
                +"	</td>"
                +"	<td>"
                +"		<input class='form-control' type='text' id='sumAmt_"+index+"' name='sumAmt' readonly>"
                +"		<input type='hidden' name='softwarePlanList["+nameIndex+"].applyMonth' value='"+toDayValue+"'>"
                +"	</td>"
                +"</tr>";
        };

        //[공통] 년,월(select box)
        function selectCal(monthfield, yearfield) {

            var today = new Date();
            yearValue = today.getFullYear();
            monthValue = (today.getMonth() + 1);

            for (var i = 1; i < 13; i++) {
                if ((today.getMonth() + 1) == i) $("#" + monthfield).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfield).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            for (var y = thisyear - 10; y < thisyear + 10; y++) {

                if (thisyear == y) $("#" + yearfield).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfield).append("<option value='" + y + "'>" + y + "</option>");
            }
        }

        var selectYear = function() {
            var selectedYearValue = $("#selectDateYear option:selected").val();
            yearValue = selectedYearValue;
            console.log("Year ::: " + selectedYearValue);
        };

        var selectMonth = function() {
            var selectedMonthValue = $("#selectDateMonth option:selected").val();
            monthValue = selectedMonthValue;
            console.log("Month ::: " + selectedMonthValue);
        };

        //년/월
        var yearValue = $("#selectDateYear option:selected").val();
        var monthValue = $("#selectDateMonth option:selected").val();

        /*]]>*/
    </script>
</div>

</html>
