<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- // script 방법 2 -->
<!--    <script type="text/javascript">-->
<!--        console.log('::MarketPlace index text/javascript::');-->
<!--    </script>-->
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품관리</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">상품관리</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- Top 비주얼 -->
        <div class="top_visualWrap">
            <div class="top_visual">
                <p class="top_title">Welcome to PaaS-TA Market place</p>
                <p class="top_stitle">
                    Thanks to our partnership with PaaS-TA, we have the ability to gain new revenues, and our customers will gain<br />
                    access to all the new technologies and benefits those technologies bring. They are exceptionally forward thinking.<br />
                    they've built their business around the cloud.
                </p>
            </div>
        </div>
        <!-- //Top 비주얼 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox fm-row-2"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_box w_auto pr10">
                            <select id="" name="">
                                <option value="">등록일</option>
                                <option value="">승인일</option>
                            </select>
                        </div>
                        <div class="fm_box w_auto">
                            <div class="dateWrap">
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                                <span class="wave">~</span>
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="" name="">
                                <option value="">전체</option>
                                <option value="">보안</option>
                                <option value="">ERP</option>
                                <option value="">게임</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">전시여부</label></div>
                        <div class="fm_box">
                            <select id="" name="">
                                <option value="">전체</option>
                                <option value="">전시</option>
                                <option value="">미전시</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">승인여부</label></div>
                        <div class="fm_box">
                            <select id="" name="">
                                <option value="">전체</option>
                                <option value="">대기</option>
                                <option value="">승인</option>
                                <option value="">반려</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">판매자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="판매자명을 입력해 주세요." style="width:200px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">상품명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4">(50)</span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:15%;">
                    <col style="width:auto;">
                    <col style="width:18%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품 명</th>
                    <th scope="col">판매자명</th>
                    <th scope="col">등록일</th>
                    <th scope="col">전시</th>
                    <th scope="col">승인여부</th>
                    <th scope="col">승인일</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td><span class="pn_cate type5">보안</span></td>
                    <td>Magic FIDO</td>
                    <td>전능아이티</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td><span class="pn_cate type5">보안</span></td>
                    <td>테드폴허브</td>
                    <td>드림시큐리티</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><span class="pn_cate type3">의료</span></td>
                    <td>스마트닥터</td>
                    <td>테드폴허브</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>반려</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>영카트</td>
                    <td>에스아이알소프트</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>대기</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>마젠토</td>
                    <td>이구아나커머스</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>세일즈포인트</td>
                    <td>세일즈인사이트</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>반려</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>알림톡,친구톡</td>
                    <td>컴홈</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>핑거세일즈</td>
                    <td>카이젠플랫폼</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><span class="pn_cate type4">마케팅</span></td>
                    <td>마케팅크래프트 리포트</td>
                    <td>테드폴허브</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>대기</td>
                    <td>2019-04-02</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><span class="pn_cate type4">방송</span></td>
                    <td>PalyCon</td>
                    <td>드림시큐리티</td>
                    <td>2019-04-01</td>
                    <td>Y</td>
                    <td>승인</td>
                    <td>2019-04-02</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination">
                <li class="first disabled"><a href="#">맨 처음</a></li>
                <li class="prev"><a href="#">이전</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=" disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="next"><a href="#">다음</a></li>
                <li class="end"><a href="#">맨 끝</a></li>
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->
    <!-- //content -->
    <!-- // script 방법 1-->
    <script type="text/javascript">
        console.log('::MarketPlace index Init::');
    </script>
</div>

<!--</div>-->
</html>
