<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">상품 목록</a></li>
                <li class="active">상품 상세</li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->
    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
                <div class="cBox-hd">
                    <h4 class="c-tit">상품 상세</h4>
                </div>
                <div class="cBox-cnt">
                    <!-- inner -->
                    <div class="in d_block">
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">상품명</th>
                                    <td th:text="${software.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">카테고리</th>
                                    <td th:text="${software.category.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">간단설명</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <pre th:text="${software.summary}"></pre>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">아이콘</th>
                                    <td>
                                        <!-- 첨부파일 -->
                                        <div class="fileUploadWrap selected_ico" style="width:50%;">
                                            <input tabindex="-1" class="form-control" id="iconFileInput" style="position: absolute; clip: rect(0px 0px 0px 0px);" type="file" name="iconFile" data-icon-name="fa fa-upload" data-button-text="" data-class-input="form-control" data-class-button="btn btn-default" filestyle="">
                                            <div class="bootstrap-filestyle input-group">
                                                    <span tabindex="0" class="group-span-filestyle input-group-btn">
                                                        <label class="btn btn-default">
                                                             <img th:src="${software.iconPath}" alt="" />
                                                        </label>
                                                    </span>
                                            </div>
                                        </div>
                                        <!-- //첨부파일 -->
                                    </td>
                                <tr>
                                <tr>
                                    <th scope="row">스크린샷</th>
                                    <td>
                                        <div class="slideWrap">
                                            <div class="slide_list">
                                                <ul class="nav nav-tabs">
                                                    <li th:each="screenshot : ${software.screenshotList}">
                                                        <a href=""><img th:src="${screenshot}" alt="" /></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">상세설명</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <pre th:text="${software.description}"></pre>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">파일유형</th>
                                    <td th:text="${software.type}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">상품파일</th>
                                    <td th:text="${software.app}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">환경파일</th>
                                    <td th:text="${software.manifest}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">판매금액
                                        <br><button name="button" class="btn btn-color2 btn-md" type="button" data-toggle="modal" data-target="#myAmtModal" id="amtHistoryBtn">이력보기</button>
                                    </th>
                                    <td>
                                        <table class="table" border="1">
                                            <tr>
                                                <th scope="row" rowspan="2">적용월</th>
                                                <th scope="row" col style="width:auto;" colspan="3">Plan</th>
                                                <th scope="row" col style="width:auto;" colspan="3">기준금액</th>
                                                <th scope="row" rowspan="2">판매금액</th>
                                            </tr>
                                            <tr style="width:auto;" align=center>
                                                <td >Name</td>
                                                <td >Memory</td>
                                                <td >Disk</td>
                                                <td >CPU</td>
                                                <td >Memory</td>
                                                <td >Disk</td>
                                            </tr>
                                            <tbody>
                                            <tr th:each="softwarePlan,index : ${softwarePlanList}" style="width:auto;" align=center>
                                                <td th:text="${softwarePlan.applyMonth}"></td>
                                                <td th:text="${softwarePlan.name}"></td>
                                                <td th:text="${softwarePlan.memorySize}"></td>
                                                <td th:text="${softwarePlan.diskSize}"></td>
                                                <td th:text="${#numbers.formatInteger(softwarePlan.cpuAmt, 0, 'COMMA')}"></td>
                                                <td th:text="${#numbers.formatInteger(softwarePlan.memoryAmt, 0, 'COMMA')}"></td>
                                                <td th:text="${#numbers.formatInteger(softwarePlan.diskAmt, 0, 'COMMA')}"></td>
                                                <td th:text="${#numbers.formatInteger(softwarePlan.cpuAmt + softwarePlan.memoryAmt + softwarePlan.diskAmt , 0, 'COMMA')}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">전시여부</th>
                                    <td th:text="${software.inUse}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">버전</th>
                                    <td th:text="${software.version}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일자</th>
									<td th:text="${#temporals.format(software.createdDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->

                        <h4 class="c-tit-in">승인정보</h4>
                        <!-- table -->
                        <div class="tbw type1">
                            <table class="table">
                                <colgroup>
                                    <col style="width:15%;">
                                    <col style="width:auto;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">상태</th>
                                    <td th:text="${software.status}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">반려사유</th>
                                    <td>
                                        <div class="tbw_inner_txt">
                                            <pre th:text="${software.confirmComment}" th:if="${software.status.equals('Rejected')}"></pre>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">처리일자</th>
									<td th:text="${#temporals.format(software.statusModifiedDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //table -->

                        <!--style="display: none"-->
                        <div id="deployedInfo">
                            <h4 class="c-tit-in">배포 테스트 정보</h4>
                            <!-- table -->
                            <div class="tbw type1">
                                <table class="table">
                                    <colgroup>
                                        <col style="width:15%;">
                                        <col style="width:auto;">
                                        <col style="width:auto;">
                                        <col style="width:auto;">
                                    </colgroup>
                                    <tr>
                                        <th scope="row">이름</th>
                                        <th scope="row">상태</th>
                                        <th scope="row">생성일자</th>
                                        <th scope="row">제어</th>
                                    </tr>
                                    <tbody id="deployedInfoArea">
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //table -->
                        </div>

                    </div>
                    <!-- //inner -->
                </div>
            </div>

        <!-- amtModal -->
        <div class="modal fade" id="myAmtModal" tabindex="-1" role="dialog" aria-labelledby="myAmtModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myAmtModalLabel">판매금액 목록</h4>
                    </div>
                    <div class="modal-body">
                        <!-- table -->
                        <div class="tbl type1">
                            <td>
                                <table class="table" border="1">
                                    <tr>
                                        <th scope="row" rowspan="2">적용월</th>
                                        <th scope="row" col style="width:auto;" colspan="3">Plan</th>
                                        <th scope="row" col style="width:auto;" colspan="3">기준금액</th>
                                        <th scope="row" rowspan="2">판매금액</th>
                                    </tr>
                                    <tr style="width:auto;" align=center>
                                        <td >Name</td>
                                        <td >Memory</td>
                                        <td >Disk</td>
                                        <td >CPU</td>
                                        <td >Memory</td>
                                        <td >Disk</td>
                                    </tr>
                                    <tbody id="amtArea">
                                    <tr style="width:auto;" align=center>
                                    </tbody>
                                </table>
                            </td>
                        </div>
                        <!--//table -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- amtModal -->

        <!-- //cBox1 -->
        <div class="cont_btnBox">
            <div class="pull-left">
                    <button name="button" class="btn btn-color7 btn-md" type="button" data-toggle="modal" data-target="#myModal" id="historyBtn">수정이력</button>
                    <button name="button" class="btn btn-color8 btn-md" type="button" data-toggle="modal" id="deployTestAppBtn" >배포 테스트</button>
                    <!--<button name="button" class="btn btn-color1 btn-md" type="button" data-toggle="modal" id="deployLogBtn" >배포 로그</button>-->
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content"><!-- 개발에서 사용하는 다른 팝업모듈 사용시 이부분만 사용하세요.  -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">상품 수정 이력</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- table -->
                                    <div class="tbl type1">
                                        <table class="table">
                                            <colgroup>
<!--                                                 <col style="width:15%;"> -->
<!--                                                 <col style="width:30%;"> -->
<!--                                                 <col style="width:55%;"> -->
                                                <col style="width:10%;">
												<col style="width:20%;">
												<col style="width:40%;">
												<col style="width:30%;">
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th scope="col">No.</th>
                                                <th scope="col">수정일자</th>
                                                <th scope="col">변경사항</th>
                                                <th scope="col">처리자</th>
                                            </tr>
                                            </thead>
                                            <tbody id="historyArea">
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- //table -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //Modal -->
                </div>
            <div class="pull-right">
                <button name="button" class="btn btn-color7 btn-md" type="button" th:onclick="'location.href = \'' + @{/admin/softwares/{id}(id=${software.id})} + '/update\''">수정</button>
                <button name="button" class="btn btn-color1 btn-md" type="button" onclick="moveSoftwaresPage()">목록</button>
            </div>
        </div>

        <!-- 알림 팝업 Modal -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-sm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">알림!</h4>
                    </div>
                    <div class="modal-body">
                        <p class="popTxt" id="alertModal-text">테스트할 상품의 가격 정보가 없습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //알림 팝업 Modal -->

        <!-- 배포 테스트 팝업 Modal -->
        <div class="modal fade bd-example-modal-lg" id="softwarePriceModal" tabindex="-1" role="dialog" aria-labelledby="myDeployTestModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myDeployTestModalLabel">상품 배포 테스트</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table" id="instancePriceModal_table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col" class="text-center" style="width: 10%"></th>
                                <th scope="col" class="text-center" style="width: 10%">Plan</th>
                                <th scope="col" class="text-center" style="width: 50%">Desc</th>
                                <th scope="col" class="text-center" style="width: 30%">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="softwarePlan,index : ${softwarePlanList}">
                                <th:block th:if="${index.index} == 0">
                                    <th class="text-center" scope="row"><input type="radio" name="instancePriceModal_selectedPlan" th:value="${softwarePlan.id}" checked></th>
                                </th:block>
                                <th:block th:if="${index.index} > 0">
                                    <th class="text-center" scope="row"><input type="radio" name="instancePriceModal_selectedPlan" th:value="${softwarePlan.id}"></th>
                                </th:block>
                                <td class="text-center" th:text="${softwarePlan.name}"></td>
                                <td class="text-center" th:text="${softwarePlan.description}"></td>
                                <td class="text-center" th:text="${softwarePlan.cpuAmt}+${softwarePlan.memoryAmt}+${softwarePlan.diskAmt} + ' 원/월'"></td>
                            </tr>
                            <tr>
                                <th colspan="2">테스트할 이름 : </th>
                                <td colspan="2"><input type="text" id="testSwName" class="form-control validate" value="" placeholder="영문 5자 이내로 입력바랍니다."></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" name="button" class="btn btn-color1" data-dismiss="modal" id="deployConfirmBtn">배포</button>
                        <button type="button" name="button" class="btn btn-color2" data-dismiss="modal" id="deployCancel">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //배포 테스트 팝업 Modal -->


        <!-- 배포 테스트 대기 팝업 Modal -->
        <div class="modal fade" id="hihihi" tabindex="-1" role="dialog" aria-labelledby="hihihi" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-sm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ddd">생성 중...</h4>
                    </div>
                    <div class="modal-body">
                        <p class="popTxt">생성 중</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- //배포 테스트 대기 팝업 Modal -->

        <!-- 배포 로그 팝업 Modal -->
        <div class="modal fade" id="deployLogModal" tabindex="-1" role="dialog" aria-labelledby="deployLogModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deployLog">배포 로그</h4>
                    </div>
                    <div class="modal-body" id="logArea">
                    </div>
                </div>
            </div>
        </div>
        <!-- //배포 테스트 대기 팝업 Modal -->
    </div>
<!-- //content -->
    <input type="hidden" id="id" name="softwareId" th:value="${software.id}">

    <script th:inline="javascript" type="text/javascript" layout:fragment="custom-script">
        /*<![CDATA[*/

        // ON LOAD
        $(document.body).ready(function () {
            console.log('::softwares/{id} init::' + $("#id").val());
            currentMenu('1');

            var id = $("#id").val();
            getTestSoftwareInfoList(id);
        });

        var getTestSoftwareInfoList = function (id) {
          procCallAjax("/admin/softwares/" + id + "/testSwInfo", "GET", null, null, callbackTestSoftwareInfoList);
        };

        var callbackTestSoftwareInfoList = function (data) {
            console.log(data);

            var deployedInfoArea = $("#deployedInfoArea");
            var htmlString = [];

            if(data.length > 0){
                for(var i = 0; i < data.length; i++){
                    // Format Date
                    var createdDateValue = getFormatDate(new Date(data[i].createdDate));

                    htmlString.push(
                        '<tr>'
                        + '<td>' + data[i].name + '</td>'
                        + '<td>' + data[i].status + '</td>'
                        + '<td>' + createdDateValue + '</td>'
                        + '<td>' + "<button name='button' class='btn btn-color4 btn-sm' type='button' data-toggle='modal' id='deployTestAppBtn' onclick='showLog(\"" + data[i].appGuid + "\")'>로그 확인</button><button type='button' name='btton' class='btn btn-color9 btn-sm' id='deleteDeployBtn'>삭제</button>" + '</td>'
                        + '</tr>'
                    );
                }

            }else{
                htmlString = "<tr>"
                    + "<td colspan='4'><p class='user_p'>배포한 상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            deployedInfoArea.html(htmlString);

            //$("#deployedInfo").show();

        };

        var showLog = function (appGuid) {
            var reqUrl = "/admin/softwares/app/" + appGuid;
            procCallAjax(reqUrl, "GET", null, null, callbackGetRecentAppLog)

        };

        var callbackGetRecentAppLog = function (data) {
          var html = [];
          for(var i = 0; i < data.log.length; i++) {
              html.push("<p>" + data.log[i].logMessage.message + "</p>");
          }

          $("#logArea").html(html);
          $("#deployLogModal").modal('show');
        };

        var moveSoftwaresPage = function() {
            procMovePage("/admin/softwares/page");
        };

        $("#historyBtn").on("click", function () {
           var softwareId = "[[${software.id}]]";

           var reqUrl = "/admin/softwares/" + softwareId + "/histories" + "?sort=lastModifiedDate,desc";
           procCallAjax(reqUrl, "GET", null, null, callbackGetSoftwareHistoryList)
        });

        var callbackGetSoftwareHistoryList = function (data) {
            var historyArea = $("#historyArea");
            var htmlString = [];

            if(data.length > 0){
                for(var i = 0; i < data.length; i++){
                	// Format Date
                	var lastModifiedDateValue = new Date(data[i].lastModifiedDate);
                	lastModifiedDate = getFormatDate(lastModifiedDateValue);

                    htmlString.push(
                        '<tr>'
                        + '<td>' + (i+1) + '</td>'
                        + '<td>' + lastModifiedDate + '</td>'
                        + '<td>' + data[i].description + '</td>'
                        + '<td>' + data[i].lastModifiedBy + '</td>'
                        + '</tr>'
                    );
                }
                historyArea.html(htmlString);
            }
        };

        $("#amtHistoryBtn").on("click", function () {
            var softwareId = "[[${software.id}]]";

            var reqUrl = "/admin/softwares/plan/" + softwareId + "/histories" + "?sort=lastModifiedDate,desc";
            procCallAjax(reqUrl, "GET", null, null, callbackGetSoftwarePlanHistoryList);
        });

        var callbackGetSoftwarePlanHistoryList = function (data) {
            var amtArea = $("#amtArea");
            var htmlString = [];

            console.log(data);

            if(data.length > 0){
                for(var i = 0; i < data.length; i++){
                    var totalAmt = data[i].cpuAmt+data[i].memoryAmt+data[i].diskAmt;

                    htmlString.push(
                        '<tr style="width:auto;" align=center>'
                        + '<td>'+data[i].applyMonth+'</td>'
                        + '<td>'+data[i].name+'</td>'
                        + '<td>'+data[i].memorySize+'</td>'
                        + '<td>'+data[i].diskSize+'</td>'
                        + '<td>'+data[i].cpuAmt+'</td>'
                        + '<td>'+data[i].memoryAmt+'</td>'
                        + '<td>'+data[i].diskAmt+'</td>'
                        + '<td>'+totalAmt+'</td>'
                        + '</tr>'
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='8'><p class='user_p'>판매금액 이력이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            amtArea.html(htmlString);
        };


        // 배포 테스트 Modal
        $("#deployTestAppBtn").on("click", function () {
            var rows = $('#instancePriceModal_table').children('tbody').children('tr');
            if (rows.length <= 0) {
                $("#alertModal-text").text("테스트할 상품의 가격 정보가 없습니다.");
                $("#alertModal").modal("show");
                return;
            }
            $("#softwarePriceModal").modal("show");
        });


        $("#deployCancel").on("click", function () {
            $("#testSwName").val('');
        });


        // 배포 테스트 Btn
        $("#deployConfirmBtn").on("click", function () {
            var softwareId = "[[${software.id}]]";

            // 선택한 plan id
            var selectedPlanValue = $("#instancePriceModal_table :input:radio[name=instancePriceModal_selectedPlan]:checked").val();
            //alert("software id ::: " + softwareId + "selected plan id ::: " + selectedPlanValue);

            var testName = $("#testSwName").val();

            var reqParam = {
                "name": testName
            };

            var reqUrl = "/admin/softwares/"+ softwareId + "/plan/" + selectedPlanValue;
            procCallAjax(reqUrl, "POST", JSON.stringify(reqParam), null, callbackDeployTestResult, true);
            first();
        });


        var callbackDeployTestResult = function (data) {
            $("#hihihi").modal('hide');

            console.log(JSON.stringify(data));
            console.log(data.name);

            getTestSoftwareInfoList(data.softwareId);
        };

        // if($("#deleteDeployBtn").length > 0) {
        //     $("#deployTestAppBtn")
        //         .click(function () {alert("지금 안댜!!!")})
        //         .attr("disabled", "disabled");
        // }

        var first = function () {
            $("#hihihi").modal('show');
        };

        // $("#deployLogBtn").on("click", function () {
        //
        // });

        /*]]>*/
    </script>
</div>
</html>
