<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='/static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용자별 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">사용자별 현황 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">사용자별 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">사용자명</th>
                                <td th:text="${userStat.name}"></td>
                                <th scope="row">ID</th>
                                <td th:text="${userStat.id}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <!-- chart -->
                        <div class='code-html' id='code-html'>
                            <div id='lineChartArea'></div>
                        </div>
                        <!-- //chart -->
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <!-- 검색 Form -->
        <div class="searchWrap mt50">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">이용기간</label></div>
                        <div class="fm_box w_auto pr10">
                            <select name="selectDateYear1" id="selectDateYear1" th:onchange="selectYear()"></select>
                        </div>
                        <div class="fm_box w_auto">
                            <select name="selectDateMonth1" id="selectDateMonth1" th:onchange="selectMonth()"></select>
                        </div>
                       ~
                        <div class="fm_box w_auto pr10">
                            <select name="selectDateYear2" id="selectDateYear2" th:onchange="selectYear()"></select>
                        </div>
                        <div class="fm_box w_auto">
                            <select name="selectDateMonth2" id="selectDateMonth2" th:onchange="selectMonth()"></select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="searchBtn" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 / 총 금액 <span class="point4" id="totalCount"></span></h3>
        </div>


        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">버전</th>
                    <th scope="col">이용기간</th>
                    <th scope="col">이용월수</th>
                    <th scope="col">이용상태</th>
                </tr>
                </thead>
                <tbody id="userListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->
    <input type="hidden" id="userId" th:value="${userStat.id}">
    <script type="text/javascript">
        // 사용자별 구매한 상품 수
        var userCountPerInstance = "[[${instancesCount}]]";
        var resultCountList = JSON.parse(userCountPerInstance.replace(/&quot;/g,'"'));

        //사용량 추이(Monthly::terms,counts)
        var totalCountUserProviderInfo = "[[${totalCountUserProviderInfo}]]";
        var countUserProvider = JSON.parse(totalCountUserProviderInfo.replace(/&quot;/g,'"'));

        //년/월
        var yearValueF = $("#selectDateYear1 option:selected").val();
        var monthValueF = $("#selectDateMonth1 option:selected").val();
        var yearValueS = $("#selectDateYear2 option:selected").val();
        var monthValueS = $("#selectDateMonth2 option:selected").val();

        //page&sort
        var PAGING_SIZE = 10;
        var pageNumSave = 0;
        var SORT = "id,asc";

        // ON LOAD
        $(document.body).ready(function () {
            selectCal('selectDateMonth1', 'selectDateYear1', 'selectDateMonth2', 'selectDateYear2');
            getInstanceList();
            currentMenu('3_3');
        });


        var getAdminStatsUserChart =function(data){
            lineChart(data);
        };

        var lineChart = function (contentData) {
            var lineChartData = contentData.content;
            var categoriesData = countUserProvider.terms;
            var userId = $("#userId").val();

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                dataPerMonth = countUserProvider.counts;

                lineItem = {name: userId , data: dataPerMonth};
                lineSeriesData.push(lineItem);
            }

            var container = document.getElementById('lineChartArea');

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width: 1200,
                    height: 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
        };

        var getInstanceList = function(pageNum) {
        	// 검색일자 검사
        	var srchStartDate = $("#selectDateYear1").val() + commonUtils.dateValueDigit($("#selectDateMonth1").val());
        	var srchEndDate = $("#selectDateYear2").val() + commonUtils.dateValueDigit($("#selectDateMonth2").val());
			if (srchStartDate > srchEndDate) {
				commonAlert.show("조회 시작일자가 종료일자보다 클수가 없습니다.");
				return;
			}

            // //[카테고리] 검색조건
            var categoryId = $("#categoryId option:selected").val();

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            //[페이지]
            if (pageNum != null)
                pageNumSave = pageNum;

            //[이용기간] 검색조건
            var yy = yearValueF;        			// 이전 해
            var yy2 = yearValueS;       			// 다음 해
            var mm = monthValueF;       			// 이전 달
            var mm2 = parseInt(monthValueS);		// 다음 달
            
            if (monthValueF < 10) {
                mm = '0' + monthValueF;
            }else if(monthValueF >= 10 && monthValueF < 12) {
                mm = monthValueF;
            }

            if (mm2 < 10) {
                mm2 = '0' + mm2;
            }else if(monthValueS >= 10 && monthValueS < 12) {
                mm2 = mm2;
            }

            var usageStartDate = yy + "-" + mm + "-01T00:00:00";
            var srchLastDay = (new Date(yy2, commonUtils.dateValueDigit(mm2), 0)).getDate();
            var usageEndDate = yy2 + "-" + mm2 +"-"+ srchLastDay +"T23:59:59";;

            var pageUrl = "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT;
            var dateUrl = "&usageStartDate=" + usageStartDate +"&usageEndDate=" + usageEndDate;
            var reqUrl = "/admin/stats/instances" + "?userId="+ $("#userId").val() +"&createdBy=" + $("#userId").val() + "&categoryId=" + categoryId + pageUrl + dateUrl;
            
            procCallAjax(reqUrl, "GET", null, null, callbackGetInstanceList);
        };

        var callbackGetInstanceList = function(result) {
        	var data = result.instanceListBySwId;
            var userList = $("#userListArea");
            var htmlString = [];
            var instanceCount;
            var content = data.content;
            var listLength = content.length;
            var totalPricePerMonth = 0;

            if(listLength > 0){
                getAdminStatsUserChart(data);

                for(var i = 0; i < listLength; i++){
                	var index = (i+1) + pageNumSave * data.size;
                    var software = content[i].software;

                    //총 금액
                    var pricePerMonth;
                    if(software.pricePerMonth == null){
                        pricePerMonth = 0;
                    }else{
                        pricePerMonth = software.pricePerMonth;
                    }

                    //총 건수 / 총 금액
                    totalPricePerMonth += pricePerMonth;

                    for(key in resultCountList) {
                        if(content[i].id == key){
                            instanceCount = resultCountList[key];
                            break;
                        } else {
                            instanceCount = 0;
                        }
                    }

                    //이용기간(YYYY-MM-DD)
                    if(content[i].usageEndDate === null){
                        var usageEndDate = ''
                    } else {
                        var usageEndDateValue = new Date(content[i].usageEndDate);
                        usageEndDate = getFormatDate(usageEndDateValue);
                    }

                    var usageStartDateValue = new Date(content[i].usageStartDate);
                    usageStartDate = getFormatDate(usageStartDateValue);

                    var currentDateValue = new Date();
                    var currentDate = getFormatDate(currentDateValue);

                    //이용 월(일)수
                    var arr1 = usageStartDate.split('-');
                    var arr2 = currentDate.split('-');
                    var arr3 = usageEndDate.split('-');

                    var dt1 = new Date(arr1[0],arr1[1],arr1[2]);
                    var dt2 = new Date(arr2[0],arr2[1],arr2[2]);
                    var dt3 = new Date(arr3[0],arr2[1],arr2[2]);

                    var diffCurrent  = dt2-dt1;            //이용기간(현재) - 이용기간
                    var diffEnd = dt3-dt1;                 //이용기간(End) - 이용기간
                    var day = 1000*60*60*24;
                    var month = day*30;
                    var year = month *12;
                    var btMonth;
                    var btMonthRounds;                     //반올림 값(Math.round(n))

                    if(usageEndDate ==null || usageEndDate === ''){
                        btMonth = diffCurrent/month;
                        btMonthRounds = Math.round(btMonth);
                    }else{
                        var btMonth = diffEnd/month;
                        btMonthRounds = Math.round(btMonth);
                    }

                    htmlString.push(
                        "<tr>"
                        + "<td>" + index  + "</td>"
                        + "<td><span class=\"pn_cate type"+ software.category.id +"\">" + software.category.name + "</span></td>"
                        + "<td>" + software.name + "</td>"
                        + "<td>" + content[i].software.version + "</td>"
                        + "<td>" + usageStartDate+ " ~ "+ usageEndDate +"</td>"
                        + "<td>" + btMonthRounds +"</td>"
                        + "<td>" + content[i].status + "</td>"
                        + "</tr>"
                    );
                }
                //총 건수 / 총 금액
                $("#totalCount").text(" (" + data.totalElements + " / " + result.totalPricePerMonth +" 원)");
            }else{
                $("#totalCount").text(" (" + 0 + " / " + 0 +" 원)");
                htmlString = "<tr>"
                    + "<td colspan='7'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }
            userList.html(htmlString);

            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);

            function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	currentPage = parseInt(currentPage);

            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;


                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지

                var htmlStringPage = "";

                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveSoftwareListPage('0')>맨 처음</a></li>";
                }

                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ prev +"')>이전</a> </li>";
                }

                for(var i=first; i < last; i++){
                	if (i==currentPage) {
                		htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                	else {
                    	htmlStringPage += "<li id='" + i + "'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                }

                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ next +"')>다음</a></li>";
                }

                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }

                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성
            }

        };

     	// 페이지 이동
        var moveSoftwareListPage = function(page) {        	
            $("#lineChartArea").empty();
            getInstanceList(page);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            $("#lineChartArea").empty();
            getInstanceList();
        });


        //[공통] 년,월(select box)
        function selectCal(monthfieldF, yearfieldF, monthfieldS, yearfieldS) {
            var today = new Date();

            yearValueF = today.getFullYear();
            monthValueF = (today.getMonth() + 1);

            yearValueS = today.getFullYear();
            monthValueS = (today.getMonth() + 2);

            for (var i = 1; i < 13; i++) {
                if ((today.getMonth() + 1) == i) $("#" + monthfieldF).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfieldF).append("<option value='" + i + "'>" + i + "</option>");
            }

            for (var i = 1; i < 13; i++) {
                if ((today.getMonth() + 2) == i) $("#" + monthfieldS).append("<option value='" + i + "' selected='selected'>" + i + "</option>");
                else $("#" + monthfieldS).append("<option value='" + i + "'>" + i + "</option>");
            }

            var thisyear = today.getFullYear();
            for (var y = thisyear - 10; y < thisyear + 10; y++) {

                if (thisyear == y) $("#" + yearfieldF).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfieldF).append("<option value='" + y + "'>" + y + "</option>");
            }

            for (var y = thisyear - 10; y < thisyear + 10; y++) {
                if (thisyear == y) $("#" + yearfieldS).append("<option value='" + y + "' selected='selected'>" + y + "</option>");
                else $("#" + yearfieldS).append("<option value='" + y + "'>" + y + "</option>");
            }

        }

        var selectYear = function() {
            var selectedYearValue = $("#selectDateYear1 option:selected").val();
            var selectedYearValueS = $("#selectDateYear2 option:selected").val();

            yearValueF = selectedYearValue;
            yearValueS = selectedYearValueS;
        };

        var selectMonth = function() {
            var selectedMonthValue = $("#selectDateMonth1 option:selected").val();
            var selectedMonthValueS = $("#selectDateMonth2 option:selected").val();

            monthValueF = selectedMonthValue;
            monthValueS = selectedMonthValueS;
        };

    </script>
</div>

<!--</div>-->
</html>
