<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- // script 방법 2 -->
<!--    <script type="text/javascript">-->
<!--        console.log('::MarketPlace index text/javascript::');-->
<!--    </script>-->
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품별 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">상품별 현황 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품별 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>상품명</td>
                                    <td colspan="3" th:text="${softwareStat.name}"></td>
                                </tr>
                                <tr>
                                    <td>버전</td>
                                    <td th:text="${softwareStat.version}"></td>
                                    <td>카테고리</td>
                                    <td th:text="${softwareStat.category.name}"></td>
                                </tr>
                                <tr>
                                    <td>가격</td>
                                    <td th:text="${softwareStat.pricePerDay}">원/월</td>
                                    <td>판매자</td>
                                    <td th:text="${softwareStat.createdBy}"></td>
                                </tr>
                                <tr>
                                    <td>등록일</td>
                                    <td th:text="${softwareStat.createdDate}"></td>
                                    <td>승인일</td>
                                    <td th:text="${softwareStat.statusModifiedDate}"></td>
                                </tr>
                                <tr>
                                    <td>개요</td>
                                    <td colspan="3" th:text="${softwareStat.description}"></td>
                                </tr>
                                <tr>
                                    <td>사용자 수</td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->

                <div class="cht_area_wrap">
                    <span class="cht_tit text-left mt50">판매 현황<span class="point4" id="totalCount"></span></span>
                    <!-- 테이블 -->
                    <div class="tbl type1 pt20">
                        <table class="table">
                            <colgroup>
                                <col style="width:10%;">
                                <col style="width:20%;">
                                <col style="width:auto;">
                                <col style="width:18%;">
                                <col style="width:18%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col">사용자 이름</th>
                                <th scope="col">ID</th>
                                <th scope="col">구매일</th>
                                <th scope="col">사용연월</th>
                            </tr>
                            </thead>
                            <tbody id="softwareArea">
                            </tbody>
                        </table>
                    </div>
                    <!-- //테이블 -->
                    <!-- page -->
                    <nav class="pagiWrap">
                        <ul class="pagination" id="pageNumberList">
                        </ul>
                    </nav>
                    <!-- //page -->
                </div>

                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->
    </div>
    <!-- //content -->

    <script type="text/javascript">
        console.log('::MarketPlace index Init::');
    </script>
</div>

<!--</div>-->
</html>
