<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='../../static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자별 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">판매자별 현황</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox">
            <ul>
                <li>
                    <!-- pieChart -->
                    <div class="inWrap bg01" style="background-image: url('../../static/images/icon_backgroud_white.png');">
                        <span class="tit">등록 앱</span>
                        <div class="in_txtBox" id="pieChartArea">
                        </div>
                    </div>
                    <!-- pieChart -->
                <li>
                    <!-- lineChart -->
                    <div class="inWrap bg01" style="background-image: url('../../static/images/icon_backgroud_white.png');">
                        <span class="tit">사용 앱</span>
                        <div class="in_txtBox" id="lineChartArea"></div>
                    </div>
                    <!-- lineChart -->
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">판매자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." onkeypress="if(event.keyCode==13) {search();}" id="nameLike" name="nameLike"style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" onclick="search();"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">판매자</th>
                    <th scope="col">ID</th>
                    <th scope="col">유형</th>
                    <th scope="col">프로필 등록일</th>
                    <th scope="col">승인상품 수</th>
                    <th scope="col">판매상품 수</th>
                    <th scope="col">판매량</th>
                </tr>
                </thead>
                <tbody id="profileArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">

    	var PAGING_SIZE = 5;
    	var pageNumSave = 0;
        var SORT = "id,asc";

        // 판매자별 등록한 총 상품 수
        var totalSwCountByProvider = commonUtils.isBlank("[[${totalSwCountByProvider}]]") ? [] : JSON.parse("[[${totalSwCountByProvider}]]".replace(/&quot;/g,'"'));

        // 등록된 총 상품 수
        var totalSwCount = "[[${totalSwCount}]]";

        //승인상품 수
        var approvalSoftwareCount = commonUtils.isBlank("[[${approvalSoftwareCount}]]") ? [] : JSON.parse("[[${approvalSoftwareCount}]]".replace(/&quot;/g,'"'));

        //판매상품 수
        var instanceCount = commonUtils.isBlank("[[${getSoldSoftwareCount}]]") ? [] : JSON.parse("[[${getSoldSoftwareCount}]]".replace(/&quot;/g,'"'));

        //판매량 수
        var soldSoftwareCount = commonUtils.isBlank("[[${soldSoftwareCount}]]") ? [] : JSON.parse("[[${soldSoftwareCount}]]".replace(/&quot;/g,'"'));

        // 판매 상품 총 개수
        var soldSoftwareTotal = "[[${instanceCountSum}]]";

        //사용량 추이(terms,counts)
        var totalCountInstsProviderInfo = "[[${totalCountInstsProviderInfo}]]";
        var countsCountInstsProvider = commonUtils.isBlank(totalCountInstsProviderInfo) ? [] : JSON.parse(totalCountInstsProviderInfo.replace(/&quot;/g,'"'));


        //차트(pie,line)
        var getSoftwareStatsChart = function(data) {
            pieChart(data);
            lineChart(data);
        };

        var pieChart = function(contentData) {
            var pieChartData = contentData.content;

            if(pieChartData.length == 0){
                return;
            }else{
                var seriesData = [];
                var item = [];
                var soldSWCount;
                var soldSWCountPercent;  //전체값(totalSwCount) X 퍼센트 ÷ 100
                var soldSWCountPercentFixed;

                for (var i = 0; i < pieChartData.length; i++) {
                    var map = pieChartData[i];

                    for(key in totalSwCountByProvider) {
                        if(map.id == key){
                            soldSWCount = totalSwCountByProvider[key];
                            soldSWCountPercent = soldSWCount/totalSwCount*100;
                            soldSWCountPercentFixed = soldSWCountPercent.toFixed(2);
                        }
                    }

                    item = {name: map.name + '(' + soldSWCountPercentFixed + '%)'   , data: soldSWCountPercentFixed};
                    seriesData.push(item);
                }
            }

            var container = document.getElementById('pieChartArea');

            var data = {
                series: seriesData
            };

            var options = {
                chart: {
                    width : 450,
                    height : 250,
                    format: function(value, chartType, areaType) {
                        if (areaType === 'makingSeriesLabel') { // formatting at series area
                            value = value + '%';
                        }
                        return value;
                    }
                },
                series: {
                    radiusRange : [ '40%', '100%' ],
                    showLabel: true
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.pieChart(container, data, options);

            //css 이미지 대체
            $(".statusBox .inWrap.bg01").css('background-image', 'url("../../static/images/icon_backgroud_white.png")');
        };

        var lineChart = function (contentData) {
            var lineChartData = contentData.content;
            var categoriesData = countsCountInstsProvider.terms;

            var container = document.getElementById('lineChartArea');

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    if(countsCountInstsProvider.counts[map.id]) {
                        dataPerMonth = countsCountInstsProvider.counts[map.id];
                    } else {
                        dataPerMonth = 0;
                    }

                    lineItem = {name: map.name , data: dataPerMonth};
                    lineSeriesData.push(lineItem);
                }
            }

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width: 700,
                    height: 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
            $(".statusBox .inWrap.bg01").css('background-image', 'url("../../static/images/icon_backgroud_white.png")');
        };

        var getProfileStatsList = function (pageNum) {
            var nameLike = $("#nameLike").val();

            if(nameLike === null || nameLike === '') {
                nameLike = '';
            }

            var reqUrl = "/admin/profiles" + "?nameLike="+ nameLike + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&page=" + pageNum;
            
            if (pageNum != null)
            	pageNumSave = pageNum;

            procCallAjax(reqUrl, "GET", null, null, callbackProfileStatsList);
        };


        var callbackProfileStatsList = function(data){
            //$("#totalCount").text("(" + data.totalElements + ")");

            //::adminProfileList::
            var adminProfileList = $("#profileArea");
            var htmlString = [];
            var content = data.content;
            var listLength = content.length;

            if(listLength > 0){
                getSoftwareStatsChart(data);

                var approvalSWCount;
                var soldSWCount;
                var productsCount;

                for(var i = 0; i < listLength; i++){
                	var index = (i+1) + pageNumSave * data.size;
                    for(key in approvalSoftwareCount) {
                    	if(content[i].id == key){
                        	approvalSWCount = approvalSoftwareCount[key];
                        }
                    }

                    for(key in soldSoftwareCount) {
                        if(content[i].id == key){
                            soldSWCount = soldSoftwareCount[key];
                        }
                    }

                    // Format Date
                    var createdDateValue = new Date(content[i].createdDate);
                    createdDate = getFormatDate(createdDateValue);

                    htmlString.push(
                        "<tr>"
                        + "<td>" + index + "</td>"
                        + "<td><a href='javascript:void(0);' onclick=\"moveProfileStatsDetail(\'"+content[i].id+"')\">" + content[i].name+ "</td>"
                        + "<td>" + content[i].id + "</a></td>"
                        + "<td>" + content[i].type+ "</td>"
                        + "<td>" + createdDate + "</td>"
                        + "<td>" + approvalSWCount + "</td>"
                        + "<td>" + instanceCount[content[i].id] + "</td>"
                        + "<td>" + soldSWCount + "</td>"
                        + "</tr>"
                    );
                }

                $("#totalCount").text("(" + data.totalElements + ")");

            }else{
                $("#totalCount").text("(0)");
                htmlString = "<tr>"
                    + "<td colspan='8'><p class='user_p'>판매자가 존재하지 않습니다.</p></td>" + "</tr>"
            }

            adminProfileList.html(htmlString);

            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수        	
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);
        	
        	function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	currentPage = parseInt(currentPage);
                
            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;
                
                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;                               
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                var htmlStringPage = "";
                
                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";                    
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('0')>맨 처음</a></li>";
                }
                
                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";                    
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('"+ prev +"')>이전</a> </li>";
                }
                                    
                for(var i=first; i < last; i++){
                	if (i==currentPage) {
                		htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                	else {
                    	htmlStringPage += "<li id='" + i + "'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                	}
                }
                
                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";                   
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('"+ next +"')>다음</a></li>";
                }
                
                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";            
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveProfileStatsListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }
                                
                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성                                     
            }

        };

        //eventNameLike
        var search = function() {
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getProfileStatsList();
        };

        //move Detail
        var moveProfileStatsDetail = function(id) {
            procMovePage("/admin/stats/sellers/{id}".replace("{id}", id));
        };
        
     	// 페이지 이동
        var moveProfileStatsListPage = function(page) {
        	$("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getProfileStatsList(page);
        };

        // ON LOAD
        $(document).ready(function() {
            getProfileStatsList();
            currentMenu('3_2');
        });
    </script>
</div>

<!--</div>-->
</html>
