<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-user}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- // script 방법 2 -->
<!--    <script type="text/javascript">-->
<!--        console.log('::MarketPlace index text/javascript::');-->
<!--    </script>-->
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용자별 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">사용자별 현황</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox type2 box-two">
            <ul>
                <li>
                    <div class="inWrap bg01">
                        <span class="tit">전체 사용자 수</span>
                        <div class="in_txtBox">
                            <span class="count">1,000</span>
                            <p class="txt">Total number of registered users</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inWrap bg04">
                        <span class="tit">사용자 TOP 3</span>
                        <span class="today_txt">2019-04-02 현재기준</span>
                        <ul>
                            <li>
                                <div class="ta_l"><span class="num_txt">1</span><span class="txt">홍길동<em class="s_txt">(hongil98@email.com)</em></span></div>
                                <div class="ta_r"><span class="ico_apps">사용자</span><span class="count">10</span></div>
                            </li>
                            <li>
                                <div class="ta_l"><span class="num_txt">2</span><span class="txt">장동건<em class="s_txt">(Smilekang_1@email.com)</em></span></div>
                                <div class="ta_r"><span class="ico_apps">사용자</span><span class="count">9</span></div>
                            </li>
                            <li>
                                <div class="ta_l"><span class="num_txt">3</span><span class="txt">김전력<em class="s_txt">(mk_lee@email.com)</em></span></div>
                                <div class="ta_r"><span class="ico_apps">사용자</span><span class="count">8</span></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">사용자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">전체 상품 수 <span class="point4">(50)</span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">판매자</th>
                    <th scope="col">아이디</th>
                    <th scope="col">유형</th>
                    <th scope="col">프로필 등록일</th>
                    <th scope="col">승인상품 수</th>
                    <th scope="col">판매상품 수</th>
                    <th scope="col">사용자 수</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>(주)씨이랩</td>
                    <td>hongil98</td>
                    <td>기업</td>
                    <td>2019-04-01</td>
                    <td>5</td>
                    <td>3</td>
                    <td>27</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination">
                <li class="first disabled"><a href="#">맨 처음</a></li>
                <li class="prev"><a href="#">이전</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=" disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="next"><a href="#">다음</a></li>
                <li class="end"><a href="#">맨 끝</a></li>
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">
        console.log('::MarketPlace index Init::');
    </script>
</div>

<!--</div>-->
</html>
