<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- // script 방법 2 -->
<!--    <script type="text/javascript">-->
<!--        console.log('::MarketPlace index text/javascript::');-->
<!--    </script>-->
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품별 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">상품별 현황</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox type2">
            <ul>
                <li>
                    <div class="inWrap bg01">
                        <span class="tit">전체 상품 수</span>
                        <div class="in_txtBox">
                            <span class="count">1,000</span>
                            <p class="txt">Total number of registered products</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inWrap bg02">
                        <span class="tit">사용 상품 수</span>
                        <div class="in_txtBox">
                            <span class="count">800</span>
                            <p class="txt">Actual Usage products</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="inWrap bg04">
                        <span class="tit">상품 TOP 3</span>
                        <span class="today_txt">2019-05-10 현재기준</span>
                        <ul>
                            <li>
                                <div class="ta_l"><span class="num_txt">1</span><span class="txt">스마트 닥터</span></div>
                                <div class="ta_r"><span class="ico_user">사용자</span><span class="count">35</span></div>
                            </li>
                            <li>
                                <div class="ta_l"><span class="num_txt">2</span><span class="txt">Zimbra</span></div>
                                <div class="ta_r"><span class="ico_user">사용자</span><span class="count">21</span></div>
                            </li>
                            <li>
                                <div class="ta_l"><span class="num_txt">3</span><span class="txt">우유니</span></div>
                                <div class="ta_r"><span class="ico_user">사용자</span><span class="count">15</span></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">등록일</label></div>
                        <div class="fm_box w_auto">
                            <div class="dateWrap">
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD" id="startDatePicker" value=""></div>
                                <span class="wave">~</span>
                                <div class="date-inpt"><input type="text" class="datepicker" placeholder="YYYY-MM-DD" id="endDatePicker" value=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">전체 상품 / 판매 상품 / 사용자<span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:9%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:18%;">
                    <col style="width:18%;">
                    <col style="width:8%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">버전</th>
                    <th scope="col">등록일</th>
                    <th scope="col">승인일</th>
                    <th scope="col">사용자 수</th>
                </tr>
                </thead>
                <tbody id="softwareArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">
        var PAGING_SIZE = 10;
        var SORT = "id,asc";
        var userCountPerSoftware = "[[${instanceUserCount}]]";
        var resultCountList = JSON.parse(userCountPerSoftware.replace(/&quot;/g,'"'));

        var getSoftwareList = function (pageNum) {
            var dateParameter;                                              //날짜
            var categoryId = $("#categoryId option:selected").val();        //카테고리


            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            // datepicker
            var startDate = $("#startDatePicker").datepicker('option', 'dateFormat', 'yy-mm-dd').val();
            console.log("startDate : "  + startDate);

            var endDate = $("#endDatePicker").datepicker('option', 'dateFormat', 'yy-mm-dd').val();
            console.log("endDate : "  + endDate);


            if((startDate === "" || startDate === undefined) && (endDate === "" || endDate === undefined)) {
                dateParameter = "&createdDateAfter=" + '' + "&createdDateBefore=" + '';
            }else{
                dateParameter = "&createdDateAfter=" + startDate + "T00:00:00.000Z" + "&createdDateBefore=" + endDate + "T23:59:59.000Z";
            }


            var reqUrl = "/admin/softwares" + "?categoryId=" + categoryId + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + dateParameter;

            procCallAjax(reqUrl, "GET", null, null, callbackSoftwareList);
        };

        var callbackSoftwareList = function(data) {
            //::totalElements::
            $("#totalElements").text("(" + data.totalElements + ")");

            var softwareList = $("#softwareArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                var userCount;

                for(var i = 0; i < listLength; i++){
                    for(key in resultCountList) {
                        if(content[i].id == key){
                            userCount = resultCountList[key];
                        }
                    }
                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i + 1)  + "</td>"
                        + "<td><span class=\"pn_cate type"+ content[i].category.id +"\">" + content[i].category.name + "</span></td>"
                        + "<td><a href='javascript:void(0);' onclick=moveSoftwareDetail('"+content[i].id+"')>" + content[i].name+ "</a></td>"
                        + "<td>" + content[i].version + "</td>"
                        + "<td>" + content[i].createdDate + "</td>"
                        + "<td>" + content[i].statusModifiedDate + "</td>"
                        + "<td>" + userCount + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='8'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            softwareList.html(htmlString);

            //::page::
            var pageNumberList = $("#pageNumberList");
            var htmlStringPage = "<li class='first disabled'><a href='#'>맨 처음</a></li>" + "<li class='prev'><a href='#'>이전</a></li>";
            var pageTotalNumber = data.totalElements;
            var pageSize = data.size;

            var pageCount = Math.ceil(pageTotalNumber/pageSize);
            console.log("::pageCount :: " + pageCount);

            if(pageCount > 0){
                for(var page = 0; page < pageCount; page++){
                    htmlStringPage += "<li class='active'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ page +"')>" + (page + 1) + "<span class='sr-only'>(current)</span></a></li>"
                }
            }
            htmlStringPage += "<li class='next'><a href='#'>다음</a></li>" + "<li class='end'><a href='#'>맨 끝</a></li>";
            pageNumberList.html(htmlStringPage);

        };


        // ON LOAD
        $(document).ready(function() {
            getSoftwareList();
        });
    </script>
</div>

<!--</div>-->
</html>
