<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../dist/tui-chart.css" />
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='./css/example.css'/>
</th:block>
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='/static/js/tui-chart.js'></script>
</th:block>


<!-- index.html 고유 스크립트 추가 -->

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용자별 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">사용자별 현황</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <div class="statusBox">
            <ul>
                <li>
                    <!-- pieChart -->
                    <div class="inWrap bg01" id ='inWrap_bg04'>
                        <span class="tit">사용자</span>
                        <div class="in_txtBox" id='pieChartArea'>
                        </div>
                    </div>
                    <!-- pieChart -->
                </li>
                <li>
                    <!-- lineChart -->
                    <div class="inWrap bg01">
                        <span class="tit">사용자 추이</span>
                        <div class="in_txtBox" id='lineChartArea'></div>
                    </div>
                    <!-- lineChart -->
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">사용자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." onkeypress="if(event.keyCode==13) {search();}" id="nameLike" name="nameLike" style="width: 300px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:auto;">
                    <col style="width:auto;">
                    <col style="width:auto%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">사용자명</th>
                    <th scope="col">ID</th>
                    <th scope="col">이용 기간</th>
                    <th scope="col">구매상품 수</th>
                </tr>
                </thead>
                <tbody id="userListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">
        var PAGING_SIZE = 5;
        var pageNumSave = 0;
        var SORT = "id,asc";

        // 사용자별 구매한 상품 수
        var userCountPerInstance = "[[${instancesCount}]]";
        var resultCountList = JSON.parse(userCountPerInstance.replace(/&quot;/g,'"'));

        //사용량 추이(terms,counts)
        var countsOfUserProviderMonthly = "[[${countsOfUserProviderMonthly}]]";
        var countsOfUserProviderCounts = "[[${countsOfUserProviderCounts}]]";
        var totalCountUserProviderInfo = "[[${totalCountUserProviderInfo}]]";
        var countsOfUserProvider = JSON.parse(totalCountUserProviderInfo.replace(/&quot;/g,'"'));

        //차트(pie.line)
        var getSoftwareStatsChart = function(data) {
            pieChart(data);
            lineChart(data);
        };

        var pieChart = function(contentData) {
            console.log(">> Chart init");
            var pieChartData = contentData.content;
            var userCountTotal = contentData.totalElements;

            if(pieChartData.length == 0){
                return;
            }else{
                var seriesData = [];
                var item = [];
                var userCount;
                var userCountPercent;
                var userCountPercentFixed;

                for (var i = 0; i < pieChartData.length; i++) {

                    var map = pieChartData[i];

                    for (key in resultCountList) {
                        if (pieChartData[i].id == key) {
                            userCount = resultCountList[key];
                            userCountPercent = userCount/userCountTotal*100;
                            userCountPercentFixed = userCountPercent.toFixed(2);
                        }
                        if(userCount == undefined){
                            userCount = 0;
                        }else
                            {userCount;
                        }
                    }

                    item = {name: map.name + ' (' + userCountPercentFixed + '%)'   , data: userCount};
                    seriesData.push(item);
                }
            }

            var container = document.getElementById('pieChartArea');

            var data = {
                series: seriesData
            };

            var options = {
                chart: {
                    width : 450,
                    height : 250,
                },
                series: {
                    radiusRange : ['40%', '100%' ],
                    showLabel: true
                }
            };
            tui.chart.pieChart(container, data, options);

            //css 이미지 대체
            $(".statusBox .inWrap.bg01").css('background-image', 'url("/static/images/icon_backgroud_white.png")');
        };

        var lineChart = function (contentData) {
            console.log(">> lineChart init");
            var categoriesData = countsOfUserProviderMonthly.replace("[", "").replace("]", "").split(",");
            var countsData = countsOfUserProviderCounts;
            var lineChartData = contentData.content;

            var container = document.getElementById('lineChartArea');

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    if(countsOfUserProvider.counts[map.id]) {
                        dataPerMonth = countsOfUserProvider.counts[map.id];
                    } else {
                        dataPerMonth = 0;
                    }

                    //dataJson(softwareName,series)
                    lineItem = {name: map.name , data: dataPerMonth};
                    lineSeriesData.push(lineItem);
                }
                console.log(lineSeriesData);
            }

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width: 700,
                    height: 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
            $(".statusBox .inWrap.bg01").css('background-image', 'url("/static/images/icon_backgroud_white.png")');
        };

        var getUserList = function (pageNum) {
            var dateParameter;                                              //날짜
            var categoryId = $("#categoryId option:selected").val();        //카테고리
            var nameLike = $("#nameLike").val();

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            // datepicker
            var startDate = $("#startDatePicker").datepicker('option', 'dateFormat', 'yy-mm-dd').val();
            console.log("startDate : "  + startDate);

            var endDate = $("#endDatePicker").datepicker('option', 'dateFormat', 'yy-mm-dd').val();
            console.log("endDate : "  + endDate);


            if((startDate === "" || startDate === undefined) && (endDate === "" || endDate === undefined)) {
                dateParameter = "&createdDateAfter=" + '' + "&createdDateBefore=" + '';
            }else{
                dateParameter = "&createdDateAfter=" + startDate + "T00:00:00" + "&createdDateBefore=" + endDate + "T23:59:59";
            }

            if(nameLike === null || nameLike === '') {
                nameLike = '';
            }

            //var reqUrl = "/admin/stats/users" + "?categoryId=" + categoryId + "&page=" + pageNum + "&size=" + PAGING_SIZE + "&sort=" + SORT + dateParameter;
            var reqUrl = "/admin/stats/users"+ "?page=" + pageNum + "&nameLike=" + nameLike + "&size=" + PAGING_SIZE + "&sort=" + SORT;
            
            if (pageNum != null)
            	pageNumSave = pageNum;

            procCallAjax(reqUrl, "GET", null, null, callbackUserList);
        };

        var callbackUserList = function(data) {
            $("#totalCount").text(" (" + data.totalElements +")");
            
            //::page::
            var pageTotalNumber = data.totalElements;   // 총 데이터 수
        	var pageSize = data.size;                   // 한 페이지에 나타낼 데이터 수        	
        	paging(pageTotalNumber, pageSize, PAGING_SIZE, pageNumSave);


            var userList = $("#userListArea");
            var htmlString = [];
            var content = data.content;
            var listLength = content.length;

            if(listLength > 0){
                getSoftwareStatsChart(data);

                for(var i = 0; i < listLength; i++){
                    var instanceCount;

                    for(key in resultCountList) {
                        if(content[i].id == key){
                            instanceCount = resultCountList[key];
                            break;
                        } else {
                            instanceCount = 0;
                        }
                    }
                                        
                    var createdDateValue = new Date(content[i].createdDate);
                    createdDate = getFormatDate(createdDateValue);
                    var lastModifiedDateValue = new Date(content[i].lastModifiedDate);
                    lastModifiedDate = getFormatDate(lastModifiedDateValue);

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i + 1)  + "</td>"
                        + "<td><a href='javascript:void(0);' onclick=moveUserStatsDetail('"+content[i].id+"')>" + content[i].name + "</a></td>"
                        + "<td>" + content[i].id + "</td>"
                        + "<td>" +createdDate+ " ~ "+ lastModifiedDate +"</td>"
                        + "<td>" + instanceCount + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='5'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            userList.html(htmlString);

            //::page::
            function paging(pageTotalNumber, pageSize, PAGING_SIZE, currentPage){
            	console.log("currentPage : " + currentPage);
            	currentPage = parseInt(currentPage);
                
            	var totalPage = Math.ceil(pageTotalNumber/pageSize);           // 총 페이지 수
            	if (currentPage)
            		var pageGroup = Math.ceil((currentPage+1)/PAGING_SIZE);    // 페이지 그룹
            	else var pageGroup = 1;
                
                console.log("pageGroup : " + pageGroup);
                
                var last = pageGroup * PAGING_SIZE;        // 화면에 보여질 마지막 페이지 번호 (실제 페이지와 -1 차이)
                if(last > totalPage)
                    last = totalPage;
                var first = last - (PAGING_SIZE-1)-1;      // 화면에 보여질 첫번째 페이지
                if(first < 0)
                    first = 0;
                var next = currentPage + 1;                // 다음 페이지
                var prev = currentPage - 1;                // 이전 페이지
                
                console.log("last : " + last);
                console.log("first : " + first);
                console.log("next : " + next);
                console.log("prev : " + prev);
                 
                var htmlStringPage = "";
                
                if(currentPage==0) {
                	htmlStringPage += "<li class='first disabled' id='first'><a href='#'>맨 처음</a></li>";                    
                } else {
                	htmlStringPage += "<li class='first' id='first'><a href='javascript:void(0);' onclick=moveUserListPage('0')>맨 처음</a></li>";
                }
                
                if(prev < 0) {
                	htmlStringPage += "<li class='prev disabled' id='prev'><a href='#'>이전</a> </li>";                    
                } else {
                	htmlStringPage += "<li class='prev' id='prev'><a href='javascript:void(0);' onclick=moveUserListPage('"+ prev +"')>이전</a> </li>";
                }
                                    
                for(var i=first; i < last; i++){
                    htmlStringPage += "<li class='active' id='" + i + "'><a href='javascript:void(0);' onclick=moveUserListPage('"+ i +"')>" + (i + 1) + "</a></li> ";
                }
                
                if(next > totalPage-1) {
                	htmlStringPage += "<li class='next disabled' id='next'><a href='#'>다음</a></li>";                   
                } else {
                	htmlStringPage += "<li class='next' id='next'><a href='javascript:void(0);' onclick=moveUserListPage('"+ next +"')>다음</a></li>";
                }
                
                if(currentPage==totalPage-1) {
                	htmlStringPage += "<li class='end disabled'><a href='#'>맨 끝</a></li>";            
                } else {
                	htmlStringPage += "<li class='end'><a href='javascript:void(0);' onclick=moveUserListPage('"+ (totalPage-1) +"')>맨 끝</a></li>";
                }
                                
                $("#pageNumberList").html(htmlStringPage);                      // 페이지 목록 생성  
                
            }
            
        };

        var moveUserStatsDetail = function(id) {
            procMovePage("/admin/stats/users/{id}".replace("{id}", id));
        };

        // search enter
        var search = function() {
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getUserList();
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
            getUserList();
        });

        // 페이지 이동
        var moveUserListPage = function(page) {
            getUserList(page);
        };

        // ON LOAD
        $(document).ready(function() {
            getUserList();
        });
    </script>
</div>

<!--</div>-->
</html>
