<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='/static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">상품별 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">상품별 현황 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">

        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">상품별 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:15%;">
                                <col style="width:auto;">
                                <col style="width:15%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">상품명</th>
                                    <td colspan="3" th:text="${softwareStat.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">버전</th>
                                    <td th:text="'v' + ${softwareStat.version}"></td>
                                    <th scope="row">카테고리</th>
                                    <td th:text="${softwareStat.category.name}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">가격</th>
                                    <td th:text="${softwareStat.pricePerDay} + ' 원/월'"></td>
                                    <th scope="row">판매자</th>
                                    <td th:text="${softwareStat.createdBy}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">등록일</th>
                                    <!-- <td th:text="${softwareStat.createdDate}"></td> -->
                                    <td th:text="${#temporals.format(softwareStat.createdDate, 'yyyy-MM-dd')}"></td>
                                    <th scope="row">승인일</th>
                                    <!-- <td th:text="${softwareStat.statusModifiedDate}"></td> -->
                                    <td th:text="${#temporals.format(softwareStat.statusModifiedDate, 'yyyy-MM-dd')}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">개요</th>
                                    <td colspan="3" th:text="${softwareStat.description}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">판매량</th>
                                    <td colspan="3" th:text="${usedSwCountSum} + ' 개'"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- chart -->
                        <div class='code-html' id='code-html'>
                            <div id='lineChartArea'></div>
                        </div>
                        <!-- //chart -->
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">판매 현황 <span class="point4" id="totalCount"></span></h3>
        </div>


        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:10%;">
                    <col style="width:20%;">
                    <col style="width:auto;">
                    <col style="width:18%;">
                    <col style="width:18%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">인스턴스 ID</th>
                    <th scope="col">사용자 이름</th>
                    <th scope="col">사용자 ID</th>
                    <th scope="col">구매일</th>
                    <th scope="col">종료일</th>
                </tr>
                </thead>
                <tbody id="instanceListArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->
        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->
    </div>
    <!-- //content -->

    <input type="hidden" id="softwareName" th:value="${softwareStat.name}">
    <input type="hidden" id="softwareId" th:value="${softwareStat.id}">
    <input type="hidden" id="usedSwCountSum" th:value="${usedSwCountSum}">
    <script type="text/javascript">
        //page&sort
        var PAGING_SIZE = 5;
        var SORT = "id,asc";

        //사용량 추이(Daily::terms,counts)
        var totalCountsOfInstsMonthlyInfo = "[[${totalCountsOfInstsMonthlyInfo}]]";
        var countsOfInstsMonthly = "[[${countsOfInstsMonthly}]]";
        var countofInstsProvider = JSON.parse(totalCountsOfInstsMonthlyInfo.replace(/&quot;/g,'"'));

        var lineChart = function (contentData) {
            console.log(">>lineChart");
            var softwareId = $("#softwareId").val();
            var softwareName = $("#softwareName").val();
            var lineChartData = contentData.content;
            var categoriesData = countsOfInstsMonthly.replace("[", "").replace("]", "").split(",");

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var dataPerMonth = [];

                if(countofInstsProvider.counts[softwareId]) {
                    dataPerMonth = countofInstsProvider.counts[softwareId];
                    console.log(dataPerMonth);
                } else {
                    dataPerMonth = 0;
                }

                //dataJson(softwareName,series)
                lineItem = {name: softwareName , data: dataPerMonth};
                lineSeriesData.push(lineItem);
            }

            var container = document.getElementById('lineChartArea');

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width: 1200,
                    height: 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MMM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
        };

        var getInstanceList = function(pageNum) {
          var reqUrl = "/admin/stats/instances" + "?softwareId=" + $("#softwareId").val() + "&size=" + PAGING_SIZE + "&sort=" + SORT + "&page=" + pageNum;
          procCallAjax(reqUrl, "GET", null, null, callbackGetInstanceList);
        };

        var callbackGetInstanceList = function(data) {
            lineChart(data);

            $("#totalCount").text("(" + data.totalElements + ")");

            var instanceListArea = $("#instanceListArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                for(var i = 0; i < listLength; i++){

                    if(content[i].usageEndDate === null){
                        var usageEndDate = ''
                    } else {
                    	var usageEndDateValue = new Date(content[i].usageEndDate);
                    	usageEndDate = getFormatDate(usageEndDateValue);
                    } 
//                     var usageStartDateValue =  content[i].usageStartDate;
//                     var idx = usageStartDateValue.indexOf("T");
//                     var usageStartDate = usageStartDateValue.substring(0, idx);

//                     var usageEndDateValue =  content[i].usageEndDate;
//                     var idx = usageEndDateValue.indexOf("T");
//                     var usageEndDate = usageEndDateValue.substring(0, idx);
					// Format Date
                    var usageStartDateValue = new Date(content[i].usageStartDate);
                    usageStartDate = getFormatDate(usageStartDateValue);
                                        
                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i + 1)  + "</td>"
                        + "<td>" + content[i].appName + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + content[i].createdBy + "</td>"
                        + "<td>" + usageStartDate + "</td>"
                        + "<td>" + usageEndDate + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='6'><p class='user_p'>결과가 존재하지 않습니다.</p></td>" + "</tr>"
            }

            instanceListArea.html(htmlString);

            //::page::
            var pageNumberList = $("#pageNumberList");
            var htmlStringPage = "<li class='first disabled'><a href='#'>맨 처음</a></li>" + "<li class='prev'><a href='#'>이전</a></li>";
            var pageTotalNumber = data.totalElements;
            var pageSize = data.size;

            var pageCount = Math.ceil(pageTotalNumber/pageSize);
            console.log("::pageCount :: " + pageCount);

            if(pageCount > 0){
                for(var page = 0; page < pageCount; page++){
                    htmlStringPage += "<li class='active'><a href='javascript:void(0);' onclick=moveInstanceListPage('"+ page +"')>" + (page + 1) + "<span class='sr-only'>(current)</span></a></li>"
                }
            }
            htmlStringPage += "<li class='next'><a href='#'>다음</a></li>" + "<li class='end'><a href='#'>맨 끝</a></li>";
            pageNumberList.html(htmlStringPage);
        };

        // 페이지 이동
        var moveInstanceListPage = function(page) {
            getInstanceList(page);
        };

        $(document).ready(function () {
            console.log('software id ::: ' + $("#softwareId").val());
            getInstanceList();
        });


    </script>
</div>

<!--</div>-->
</html>
