<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='/static/js/tui-chart.js'></script>
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자별 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">판매자별 현황 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">판매자별 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">판매자</th>
                                <td th:text="${sellerStat.name}"></td>
                                <th scope="row">승인상품 수</th>
                                <td th:text="${approvalSwOfProvider}"></td>
                                <th scope="row">판매상품 수</th>
                                <td th:text="${mySoldSoftwareCount}"></td>
                                <th scope="row">판매량</th>
                                <td th:text="${mySoldInstanceCount}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <br><br>
                        <div class="statusBox" id="statusBox">
                            <ul>
                                <li>
                                    <!-- pieChart -->
                                    <div class="tbw type1" id ='inWrap_bg04'>
                                        <h2 class="h4">사용 앱</h2><br>
                                        <div class="in_txtBox" id='pieChartArea'>
                                        </div>
                                    </div>
                                    <!-- pieChart -->
                                </li>
                                <li>
                                    <!-- lineChart -->
                                    <div class="tbw type1">
                                        <h2 class="h4">사용 추이</h2><br>
                                        <div class="in_txtBox" id='lineChartArea'></div>
                                    </div>
                                    <!-- lineChart -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <!-- 검색 Form -->
        <div class="searchWrap mt50">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="categoryId">
                                <option value="">선택</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색" id="searchBtn"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalElements"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">버전</th>
                    <th scope="col">등록일</th>
                    <th scope="col">승인일</th>
                    <th scope="col">판매량</th>
                </tr>
                </thead>
                <tbody id="softwareArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <input type="hidden" id="approvalSWCount" th:id="approvalSWCount">

    <script type="text/javascript">
        var createdById = "[[${sellerStat.id}]]";

        // 승인 상품별 사용중인 개수
        var instanceUserCountProvider = "[[${instanceUserCountProvider}]]";

        // 등록한 상품별 판매된 총 개수
        var soldPerSwCount = "[[${soldPerSwCount}]]";

        //사용량 추이(terms,counts)
        var totalCountInstsProviderInfo = "[[${totalCountInstsProviderInfo}]]";
        var countofInstsProvider = null;
        if(totalCountInstsProviderInfo !== "") {
            countofInstsProvider = JSON.parse(totalCountInstsProviderInfo.replace(/&quot;/g,'"'));
        }


        var getAdminStatsSellerChart = function(data){
            pieChart(data);
            lineChart(data);
        };

        var pieChart = function (contentData) {
            var pieChartData = contentData.content;

            if(pieChartData.length == 0){
                return;
            }else{
                var seriesData = [];
                var item = [];
                var instanceUserCount;

                var instanceUserCountList = instanceUserCountProvider.replace("{", "").replace("}", "").split(",");

                for (var i = 0; i < pieChartData.length; i++) {

                    var map = pieChartData[i];
                    var instancemap = instanceUserCountList[i];
                    var value = instancemap.split("=");

                    if (map.id == value[0]) {
                        instanceUserCount = value[1];
                    }else{
                        instanceUserCount = 0;
                    }

                    //dataJson(softwareName,userCount)
                    item = {name: map.name , data: instanceUserCount};
                    seriesData.push(item);
                }
            }

            var container = document.getElementById('pieChartArea');

            var data = {
                series: seriesData
            };

            var options = {
                chart: {
                    width : 450,
                    height : 250,
                    format: function(value, chartType, areaType, valuetype, legendName) {
                        if (areaType === 'makingSeriesLabel') { // formatting at series area
                            value = value;
                        }
                        return value;
                    }
                },
                series: {
                    radiusRange: ['40%', '100%'],
                    showLabel: true
                },
                tooltip: {
                    suffix: '%'
                }
            };
            var theme = {
                series: {
                    series: {
                        colors: [
                            '#83b14e', '#458a3f', '#295ba0', '#2a4175', '#289399',
                            '#289399', '#617178', '#8a9a9a', '#516f7d', '#dddddd'
                        ]
                    },
                    label: {
                        color: '#fff',
                        fontFamily: 'sans-serif'
                    }
                }
            };
            tui.chart.pieChart(container, data, options);
        };

        var lineChart = function(contentData) {
            var categoriesData = countofInstsProvider.terms;
            var lineChartData = contentData.content;

            var container = document.getElementById('lineChartArea');

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    if(countofInstsProvider.counts[map.id]) {
                        dataPerMonth = countofInstsProvider.counts[map.id];
                        console.log("[dataPerMonth]: "+dataPerMonth);
                    } else {
                        dataPerMonth = 0;
                    }

                    //dataJson(softwareName,series)
                    lineItem = {name: map.name , data: dataPerMonth};
                    lineSeriesData.push(lineItem);
                }
            }

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width : 700,
                    height : 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();

        };

        var getSoftwaresPerSellerList = function() {
            var categoryId = $("#categoryId option:selected").val();

            if (categoryId === 'ALL' || categoryId === '') {
                categoryId = '';
            }

            var reqUrl = "/admin/stats/sellers/registSwList" + "?createdBy=" + createdById + "&categoryId=" + categoryId;
            procCallAjax(reqUrl, "GET", null, null, callbackGetSoftwaresPerSellerList);
        };

        var callbackGetSoftwaresPerSellerList = function(data) {
            $("#totalElements").text("(" + data.totalElements + ")");

            var softwareList = $("#softwareArea");
            var htmlString = [];
            var content = data.content;

            var listLength = content.length;

            if(listLength > 0){
                getAdminStatsSellerChart(data);

                var instanceUserCount;
                var instanceUserCountList = soldPerSwCount.replace("{", "").replace("}", "").split(",");

                for(var i = 0; i < listLength; i++){

                    var instanceRate = instanceUserCountList[i];
                    var value = instanceRate.split("=");

                    if (content[i].id == value[0]) {
                        instanceUserCount = value[1];
                    }else{
                        instanceUserCount = 0;
                    }
                   
                    var createdDateValue = new Date(content[i].createdDate);
                    createdDate = getFormatDate(createdDateValue);
                    var lastModifiedDateValue = new Date(content[i].lastModifiedDate);
                    lastModifiedDate = getFormatDate(lastModifiedDateValue);                     

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i + 1)  + "</td>"
                        + "<td><span class=\"pn_cate type"+ content[i].category.id +"\">" + content[i].category.name + "</span></td>"
                        + "<td>" + content[i].name+ "</a></td>"
                        + "<td>" + content[i].version + "</td>"
                        + "<td>" + createdDate + "</td>"
                        + "<td>" + lastModifiedDate + "</td>"
                        + "<td>" + instanceUserCount + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='7'><p class='user_p'>상품이 존재하지 않습니다.</p></td>" + "</tr>"
            }

            softwareList.html(htmlString);

            //::page::
            var pageNumberList = $("#pageNumberList");
            var htmlStringPage = "<li class='first disabled'><a href='#'>맨 처음</a></li>" + "<li class='prev'><a href='#'>이전</a></li>";
            var pageTotalNumber = data.totalElements;
            var pageSize = data.size;

            var pageCount = Math.ceil(pageTotalNumber/pageSize);

            if(pageCount > 0){
                for(var page = 0; page < pageCount; page++){
                    htmlStringPage += "<li class='active'><a href='javascript:void(0);' onclick=moveSoftwareListPage('"+ page +"')>" + (page + 1) + "<span class='sr-only'>(current)</span></a></li>"
                }
            }
            htmlStringPage += "<li class='next'><a href='#'>다음</a></li>" + "<li class='end'><a href='#'>맨 끝</a></li>";
            pageNumberList.html(htmlStringPage);
        };

        //eventBtn
        $("#searchBtn").on("click", function () {
            getSoftwaresPerSellerList();
            $("#pieChartArea").empty();
            $("#lineChartArea").empty();
        });


        $(document).ready(function () {
            getSoftwaresPerSellerList();
        });

    </script>
</div>

<!--</div>-->
</html>
