<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="../../static/css/tui-chart.css"/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/codemirror.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/addon/lint/lint.css'/>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.43.0/theme/neo.css'/>
    <link rel='stylesheet' type='text/css' href='../../static/css/example.css'/>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/core-js/2.5.7/core.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.min.js'></script>
    <script type='text/javascript' src='https://uicdn.toast.com/tui.chart/latest/raphael.js'></script>
    <script src='../../static/js/tui-chart.js'></script>
</th:block>

<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">판매자별 현황</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">판매자별 현황</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- 사용현황 -->
        <!-- 사용현황 -->
        <div class="statusBox">
            <ul>
                <li>
                    <!-- pieChart -->
                    <div class="inWrap bg01">
                        <span class="tit">등록 앱</span>
                        <div class="in_txtBox" id='pieChartArea'>
                        </div>
                    </div>
                    <!-- pieChart -->
                <li>
                    <!-- lineChart -->
                    <div class="inWrap bg01">
                        <span class="tit">사용 앱</span>
                        <div class="in_txtBox" id='lineChartArea'></div>
                    </div>
                    <!-- lineChart -->
                </li>
            </ul>
        </div>
        <!-- //사용현황 -->

        <!-- 검색 Form -->
        <div class="searchWrap">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">판매자명</label></div>
                        <div class="fm_box">
                            <input type="text" placeholder="검색어를 입력해 주세요." onkeypress="if(event.keyCode==13) {search();}" id="nameLike" name="nameLike"style="width:400px;">
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">총 건수 <span class="point4" id="totalCount"></span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">판매자</th>
                    <th scope="col">ID</th>
                    <th scope="col">유형</th>
                    <th scope="col">프로필 등록일</th>
                    <th scope="col">승인상품 수</th>
                    <th scope="col">판매상품 수</th>
                    <th scope="col">판매량</th>
                </tr>
                </thead>
                <tbody id="profileArea">
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination" id="pageNumberList">
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">

        var PAGING_SIZE = 10;
        var SORT = "id,asc";

        // 판매자별 등록한 총 상품 수
        var totalSwCountByProvider = JSON.parse("[[${totalSwCountByProvider}]]".replace(/&quot;/g,'"'));

        // 등록된 총 상품 수
        var totalSwCount = "[[${totalSwCount}]]";

        //승인상품 수
        var approvalSoftwareCount = JSON.parse("[[${approvalSoftwareCount}]]".replace(/&quot;/g,'"'));

        //판매상품 수
        var InstanceCount ="[[${getSoldInstanceCount}]]";

        //판매량 수
        var soldSoftwareCount = JSON.parse("[[${soldSoftwareCount}]]".replace(/&quot;/g,'"'));

        // 판매 상품 총 개수
        var soldSoftwareTotal = "[[${instanceCountSum}]]";

        //사용량 추이(terms,counts)
        var countOfInstsProviderMonthly = "[[${countOfInstsProviderMonthly}]]";
        var countOfInstsProviderCounts = "[[${countOfInstsProviderCounts}]]";
        var totalCountInstsProviderInfo = "[[${totalCountInstsProviderInfo}]]";
        var countsCountInstsProvider = JSON.parse(totalCountInstsProviderInfo.replace(/&quot;/g,'"'));

        // ON LOAD
        $(document).ready(function() {
            getProfileStatsList();
        });

        //차트(pie,line)
        var getSoftwareStatsChart = function(data) {
            pieChart(data);
            lineChart(data);
        };

        var pieChart = function(contentData) {
            var pieChartData = contentData.content;
            console.log(pieChartData);

            if(pieChartData.length == 0){
                return;
            }else{
                var seriesData = [];
                var item = [];
                var soldSWCount;
                var soldSWCountPercent;  //전체값(totalSwCount) X 퍼센트 ÷ 100
                var soldSWCountPercentFixed;

                for (var i = 0; i < pieChartData.length; i++) {
                    var map = pieChartData[i];

                    for(key in totalSwCountByProvider) {
                        if(map.id == key){
                            soldSWCount = totalSwCountByProvider[key];
                            soldSWCountPercent = soldSWCount/totalSwCount*100;
                            soldSWCountPercentFixed = soldSWCountPercent.toFixed(2);
                        }
                    }

                    item = {name: map.name + '(' + soldSWCountPercentFixed + '%)'   , data: soldSWCountPercentFixed};
                    seriesData.push(item);
                }
            }

            var container = document.getElementById('pieChartArea');

            var data = {
                series: seriesData
            };

            var options = {
                chart: {
                    width : 450,
                    height : 250,
                    format: function(value, chartType, areaType) {
                        if (areaType === 'makingSeriesLabel') { // formatting at series area
                            value = value + '%';
                        }
                        return value;
                    }
                },
                series: {
                    radiusRange : [ '40%', '100%' ],
                    showLabel: true
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.pieChart(container, data, options);

            //css 이미지 대체
            $(".statusBox .inWrap.bg01").css('background-image', 'url("../../static/images/icon_backgroud_white.png")');
        };

        var lineChart = function (contentData) {
            var lineChartData = contentData.content;

            var categoriesData = countOfInstsProviderMonthly.replace("[", "").replace("]", "").split(",");

            var container = document.getElementById('lineChartArea');

            if (lineChartData.length == 0) {
                return;
            }else{
                var lineSeriesData = [];
                var lineItem = [];
                var dataPerMonth = [];

                for (var i = 0; i < lineChartData.length; i++) {
                    var map = lineChartData[i];

                    if(countsCountInstsProvider.counts) {
                        console.log("[dataPerMonth]: "+ dataPerMonth);
                        dataPerMonth = countsCountInstsProvider.counts;
                    } else {
                        console.log("[dataPerMonth]: 0");
                        dataPerMonth = 0;
                    }

                    //dataJson(softwareName,series)
                    lineItem = {name: map.name , data: dataPerMonth};
                    lineSeriesData.push(lineItem);
                }
            }

            var data = {
                categories: categoriesData,
                series: lineSeriesData
            };

            var options = {
                chart: {
                    width: 700,
                    height: 250,
                },
                yAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto'
                },
                xAxis: {
                    pointOnColumn: true,
                    tickInterval: 'auto',
                    type: 'datetime',
                    dateFormat: 'yyyy-MMM'
                },
                series: {
                    showDot: false,
                    zoomable: true,
                    pointWidth: 2
                },
                legend : {
                    visible : true,
                    showCheckbox : false
                },
                chartExportMenu : {
                    visible : false
                }
            };

            tui.chart.lineChart(container, data, options);
            $(".tui-chart-series-custom-event-area").hide();
            $(".statusBox .inWrap.bg01").css('background-image', 'url("../../static/images/icon_backgroud_white.png")');
        };

        var getProfileStatsList = function () {
            var nameLike = $("#nameLike").val();

            if(nameLike === null || nameLike === '') {
                nameLike = '';
            }

            var reqUrl = "/admin/profiles" + "?nameLike="+ nameLike + "&size=" + PAGING_SIZE + "&sort=" + SORT;

            procCallAjax(reqUrl, "GET", null, null, callbackProfileStatsList);
        };


        var callbackProfileStatsList = function(data){
            getSoftwareStatsChart(data);
            $("#totalCount").text("(" + data.totalElements + ")");

            //::adminProfileList::
            var adminProfileList = $("#profileArea");
            var htmlString = [];
            var content = data.content;
            var listLength = content.length;

            if(listLength > 0){
                var approvalSWCount;
                var soldSWCount;
                var productsCount;

                    for(var i = 0; i < listLength; i++){
                        for(key in approvalSoftwareCount) {
                            if(content[i].id == key){
                                approvalSWCount = approvalSoftwareCount[key];
                            }
                        }

                    for(key in soldSoftwareCount) {
                        if(content[i].id == key){
                            soldSWCount = soldSoftwareCount[key];
                        }
                    }

                    console.log("[InstanceCount]: " +  InstanceCount);
                    console.log(key);

                    for(key in InstanceCount) {
                        if(content[i].id == key){
                            productsCount = InstanceCount[key];
                        }else{
                            productsCount = 0;
                        }
                    }

                    // Format Date
                    var createdDateValue = new Date(content[i].createdDate);
                    createdDate = getFormatDate(createdDateValue);

                    htmlString.push(
                        "<tr>"
                        + "<td>" + (i+1) + "</td>"
                        + "<td><a href='javascript:void(0);' onclick=\"moveProfileStatsDetail(\'"+content[i].id+"')\">" + content[i].name+ "</td>"
                        + "<td>" + content[i].id + "</a></td>"
                        + "<td>" + content[i].type+ "</td>"
                        + "<td>" + createdDate + "</td>"
                        + "<td>" + approvalSWCount + "</td>"
                        + "<td>" + productsCount + "</td>"
                        + "<td>" + soldSWCount + "</td>"
                        + "</tr>"
                    );
                }
            }else{
                htmlString = "<tr>"
                    + "<td colspan='8'><p class='user_p'>판매자가 존재하지 않습니다.</p></td>" + "</tr>"
            }

            adminProfileList.html(htmlString);

            //::page::
            var pageNumberList = $("#pageNumberList");
            var htmlStringPage = "<li class='first disabled'><a href='#'>맨 처음</a></li>" + "<li class='prev'><a href='#'>이전</a></li>";
            var pageTotalNumber = data.totalElements;
            var pageSize = data.size;

            var pageCount = Math.ceil(pageTotalNumber/pageSize);

            if(pageCount > 0){
                for(var page = 0; page < pageCount; page++){
                    htmlStringPage += "<li class='active'><a href='#'>" + (page + 1) + "<span class='sr-only'>(current)</span></a></li>"
                }
            }
            htmlStringPage += "<li class='next'><a href='#'>다음</a></li>" + "<li class='end'><a href='#'>맨 끝</a></li>";
            pageNumberList.html(htmlStringPage);

        };

        //eventNameLike
        var search = function() {
            getProfileStatsList();
        };

        //move Detail
        var moveProfileStatsDetail = function(id) {
            procMovePage("/admin/stats/sellers/{id}".replace("{id}", id));
        };
    </script>
</div>

<!--</div>-->
</html>
