<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout-admin}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!-- // script 방법 2 -->
<!--    <script type="text/javascript">-->
<!--        console.log('::MarketPlace index text/javascript::');-->
<!--    </script>-->
</th:block>
<div class="rightCnt" layout:fragment="content">
    <!-- title area -->
    <div class="titWrap">
        <h2 class="h2">사용자별 현황 상세</h2>
        <div class="breadWrap">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">사용현황</a></li>
                <li><a href="#">사용자별 현황 상세</a></li><!-- 마지막 li -->
            </ol>
        </div>
    </div>
    <!-- //title area -->

    <!-- content -->
    <div class="content">
        <!-- cBox1 -->
        <div class="cBox type1 appCnt-info">
            <div class="cBox-hd">
                <h4 class="c-tit">사용자별 현황 상세</h4>
            </div>
            <div class="cBox-cnt">
                <!-- inner -->
                <div class="in pd0 d_block">
                    <!-- table -->
                    <div class="tbw type1">
                        <table class="table">
                            <colgroup>
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                                <col style="width:;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">사용자명</th>
                                <td>한세계</td>
                                <th scope="row">ID</th>
                                <td> segae11@email.com</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- //table -->
                </div>
                <!-- //inner -->
            </div>
        </div>
        <!-- //cBox1 -->

        <!-- 검색 Form -->
        <div class="searchWrap mt50">
            <div class="searchBox"><!--검색폼 두줄일 때 class="fm-row-2"-->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">사용연월</label></div>
                        <div class="fm_box w_auto pr10">
                            <select id="" name="">
                                <option value="">2019</option>
                                <option value="">2018</option>
                                <option value="">2017</option>
                                <option value="">2016</option>
                            </select>
                        </div>
                        <div class="fm_box w_auto">
                            <select id="" name="">
                                <option value="">05</option>
                                <option value="">04</option>
                                <option value="">03</option>
                                <option value="">02</option>
                                <option value="">01</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <!-- Form 그룹 -->
                <div class="form-group">
                    <div class="form-group-area">
                        <div class="fm_label"><label for="" class="label">카테고리</label></div>
                        <div class="fm_box">
                            <select id="" name="">
                                <option value="">전체</option>
                                <option value="">보안</option>
                                <option value="">ERP</option>
                                <option value="">게임</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- //Form 그룹 -->
                <button type="button" name="button" class="btn btn-sch" title="검색"><span class="ico">검색</span></button>
            </div>
        </div>
        <!-- //검색 Form -->

        <div class="cont-titWrap mt30">
            <h3 class="h-tit3">전체 상품 수 <span class="point4">(50)</span><span class="point_txt"> / 총 금액(77,000원)</span></h3>
        </div>

        <!-- 테이블 -->
        <div class="tbl type1 pt20">
            <table class="table">
                <colgroup>
                    <col style="width:8%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:auto;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                    <col style="width:10%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">사용연월</th>
                    <th scope="col">카테고리</th>
                    <th scope="col">상품명</th>
                    <th scope="col">버전</th>
                    <th scope="col">가격표</th>
                    <th scope="col">사용일</th>
                    <th scope="col">사용요금</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>10</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type3">의료</span></td>
                    <td>스마트닥터</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>마젠토</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>알림톡, 친구톡</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type2">ERP</span></td>
                    <td>지오유 그룹웨어</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type6">WEB</span></td>
                    <td>그누보드</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type3">의료</span></td>
                    <td>스마트닥터</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type4">커머스</span></td>
                    <td>마젠토</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type1">CRM</span></td>
                    <td>알림톡, 친구톡</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type2">ERP</span></td>
                    <td>지오유 그룹웨어</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2019.05</td>
                    <td><span class="pn_cate type6">WEB</span></td>
                    <td>스마트닥터</td>
                    <td>1.0</td>
                    <td>1,000원/일</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //테이블 -->

        <!-- page -->
        <nav class="pagiWrap">
            <ul class="pagination">
                <li class="first disabled"><a href="#">맨 처음</a></li>
                <li class="prev"><a href="#">이전</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li class=" disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="next"><a href="#">다음</a></li>
                <li class="end"><a href="#">맨 끝</a></li>
            </ul>
        </nav>
        <!-- //page -->

    </div>
    <!-- //content -->

    <script type="text/javascript">
        console.log('::MarketPlace index Init::' + "[[${userStat}]]");
    </script>
</div>

<!--</div>-->
</html>
